<link rel="stylesheet" href="/navbar/navbar.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <img id="brandImg" src="/logo.jpg" style="width: 8rem; height: 2rem;"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" style="text-align: center;">
      <li class="nav-item">
        <a class="nav-link" href="/doctors">Doctors </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hospitals">Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/treatment">Treatment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutUs">About</a>
      </li>
    </ul>

    <span class="navbar-text">
      <% if(isAuthenticated ) { %>
      <a href="users/logout">
        <button class="btn btn-outline-success" type="button">
          Logout
        </button></a
      >
      <% } else { %>
      <a href="users/emailsignin">
        <button class="btn btn-outline-success" type="button">
          Login/Signup
        </button></a
      >
      <% } %>
      <button class="btn btn-dark" type="button">
        Get a Quote
      </button>
    </span>
  </div>
</nav>
