<link rel="stylesheet" href="/navbar/navbar.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <img id="brandImg" src="/logo.jpg" style="width: 8rem; height: 2rem;"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" style="text-align: center;">
      <li class="nav-item">
        <a class="nav-link" href="/doctors">Doctors </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hospitals">Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/treatment">Treatment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutUs">About</a>
      </li>
    </ul>
    <div class="login">
      <button class="btn btn-dark" type="button">
        Get a Quote
      </button>
    </div>
    <span class="navbar-text" id="toggler">
      <% if(isAuthenticated || locals.isVerified || otp ) { %>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="drp"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><%= currentUser.name%></a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/users/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>

      <% } %>
    </span>
  </div>
</nav>
