@import "../font";
@import "../theme/config";

.slot_parent {
  background-color: $bg-light-grey;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  .card-img-top {
    max-width: 100px;
    border-radius: 50%;
  }
  .slot_inner {
    width: 70%;
    margin: 0 auto;
    background-color: $white;
    padding: 20px;
  }
  .slot_header_content {
    display: flex;
  }
  .doctor_detail__right_section {
    padding-left: 30px;
    div {
      padding: 2px;
      text-transform: capitalize;
    }
  }
  .slot_date_details__carousel {
    width: 100%;
    overflow: auto;
    .carousel_wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      .carousel_wrapper__inner {
        display: flex;
        margin-top: 20px;
        padding: 20px 35px;
        overflow: hidden;

        .dateField {
          flex: 1 0 20%;
          flex-wrap: nowrap;
          width: 15%;
          text-align: center;
          padding: 10px;
          cursor: pointer;

          &:active {
            border-bottom: 2px solid;
            border-color: $button-blue;
          }
        }

        .active {
          display: inline-block;
          border-bottom: 2px solid;
          border-color: $button-blue;
          background-color: $bg-light-grey;
        }
      }
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40px;
        padding: 10px;
        background-color: $bg-light-blue;
        border-radius: 50%;
      }
      .prev {
        float: left;
        z-index: 100;
      }
      .next {
        float: right;
        z-index: 100;
        right: 10px;
      }
    }
  }
  .display_slot__details {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 1 0 15%;
        padding: 10px;
        border: 1px solid green;
        margin: 5px;
        text-align: center;
        max-width: 15%;
        text-decoration: none;
        color: green;
      }
      a {
        text-decoration: none;
        color: green;
      }
    }
  }
}

// .slot_parent {
//   // background-color: $bg-light-blue;
//   height: 90vh;
//   padding-top: 20px;
//   img {
//     max-width: 150px;
//     border-radius: 50%;
//   }
//   .slot_inner {
//     background-color: $white;
//     padding: 20px;
//   }
// }

// .date-wrapper {
//   display: flex;
//   width: 70%;
//   border: 1px solid #ddd;
//   overflow-x: auto;

//   .item {
//     min-width: 250px;
//     height: 110px;
//     line-height: 110px;
//     text-align: center;
//     background-color: $bg-light-blue;
//     margin-right: 2px;
//     cursor: pointer;
//   }
// }

// alternate slot approach

// .slot_main_div {
//   display: flex;
//   background-color: white;
//   padding: 20px;
//   width: 70%;
//   overflow-x: auto;
//   .slot_child_divs {
//     min-width: 250px;
//     text-align: center;
//     border-bottom: 3px solid grey;
//     margin-right: 20px;
//     padding: 10px 0px;
//     flex-basis: 1 0 25%;
//     cursor: pointer;
//     &:active {
//       border-color: $bg-light-blue;
//     }
//     &:hover {
//       border-color: $bg-light-blue;
//     }
//   }
// }
// .slot-details {
//   ul {
//     display: flex;
//   }
//   li {
//     padding: 10px;
//     margin: 5px;
//     width: 5%;
//     background-color: $bg-light-blue;
//     border-radius: 10px;
//   }
// }
