@import "../theme/config";
.card-img-top {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.expert-doc {
  width: 100%;
  overflow: hidden;
  .card {
    border-bottom: 5px solid $bg-light-blue;
  }

  .card-text {
    color: black;
  }
  .card-group {
    margin: 0 auto;
  }
  .card-body {
    padding-left: 3rem;
    width: 100%;
  }
  .card-body {
    position: relative;
    color: $button-blue;
    max-width: 600px;
  }
  .card-title {
    font-family: nexa-bold;
  }

  .card-title {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: $button-blue;
      position: absolute;
      left: 0;
      top: 20%;
    }
  }
  @include xs {
    header,
    .info {
      text-align: center;
    }
    .card {
      width: 22rem;
    }
  }
  @include sm {
    .card {
      width: 21rem;
      // width: 100%;
    }
    header,
    .info {
      text-align: center;
    }
    .card-image-top {
      height: 20rem;
    }
    .card-group {
      width: 90%;
      margin: 0 auto;
    }
  }
  @include md {
    header,
    .info {
      text-align: left;
    }
  }
}

.card-group {
  @include md {
    .card {
      width: 18rem;
    }
  }
}
