@import "../theme/config";
.card-img-top {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.expert-doc {
  width: 100%;
  overflow: hidden;
  .card {
    border-bottom: 5px solid $bg-light-blue;
    transition: 200ms ease-in-out;
    &:hover {
      transform: scale(0.8);
    }
  }

  .card-text {
    color: black;
  }
  .card-group {
    margin: 0 auto;
  }
  .card-body {
    padding-left: 3rem;
    width: 100%;
  }
  .card-body {
    position: relative;
    color: $button-blue;
    max-width: 600px;
  }
  .card-title {
    font-family: nexa-bold;
  }

  .card-title {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: $button-blue;
      position: absolute;
      left: 0;
      top: 29%;
      @include md {
        position: absolute;
        top: 26%;
      }
    }
  }
  @include xs {
    header,
    .info {
      text-align: center;
    }

    .card {
      width: 21rem;
    }
  }
  @include sm {
    .card {
      width: 20rem;
      // width: 100%;
    }
    header,
    .info {
      text-align: center;
    }
    .card-image-top {
      height: 20rem;
    }
    .card-group {
      width: 90%;
      margin: 0 auto;
    }
  }
  @include md {
    header,
    .info {
      text-align: left;
      padding-left: 4.5%;
    }
  }
}

.card-group {
  @include md {
    .card {
      width: 18rem;
      margin: 0 auto;
    }
  }
}

@include md {
  .expert-doc {
    header,
    p {
      text-align: left;
    }
    .card-text {
      p {
        text-align: left;
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card-group {
    .card {
      width: 22rem;
    }
  }
  .exclusive-services {
    .es-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  .container {
    text-align: center;
    header {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
