// .innerWrapper {
//   @include sm {
//     display: grid;
//     gap: 10px;
//     grid-template-columns: repeat(2, 1fr);
//   }
//   @include md {
//     display: grid;
//     gap: 10px;
//     grid-template-columns: repeat(2, 1fr);
//   }
//   @include lg {
//     display: grid;
//     gap: 10px;
//     grid-template-columns: repeat(2, 1fr);
//   }
//   @include xl {
//     display: grid;
//     gap: 10px;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
.row {
  .card-group {
    @media (min-device-width: 600px) {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      .card {
        width: 29rem;
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      .card {
        width: 29rem;
      }
    }
  }
}

.es-wrapper {
  p {
    text-align: center;
  }

  width: 90%;
  margin: 0 auto;
  div {
    padding: 15px;
    background-color: white;
    img {
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include xs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @include sm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  @include md {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1200px) {
  .FMTwrapper {
    .first-grid {
      display: grid;
      grid-template-rows: 1fr 2fr;
      gap: 10px;
    }
    .second-grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }
    .third-grid {
      display: grid;
      grid-template-rows: 1.7fr 2.3fr;
      gap: 10px;
    }
  }
}
