.HIW {
  width: 100%;
  text-align: center;
  padding: 20px;
}

@media (min-width: 992px) {
  .HIW header,
  p {
    text-align: center;
  }
}

.section_button_label {
  font-family: nexa-bold;
}

@media (min-width: 300px) {
  .section_button {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .innerWrapper {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 767px) {
  .innerWrapper {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .innerWrapper {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .innerWrapper {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {
  .row .card-group {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 767px) {
  .row .card-group {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .row .card-group {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .row .card-group {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .row .card-group {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.es-wrapper {
  width: 90%;
  margin: 0 auto;
}

.es-wrapper p {
  text-align: center;
}

.es-wrapper div {
  padding: 15px;
  background-color: white;
}

.es-wrapper div img {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 300px) {
  .es-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 576px) {
  .es-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 767px) {
  .es-wrapper {
    display: -ms-grid;
    display: grid;
    gap: 4px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.card-img-top {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.expert-doc {
  width: 100%;
  overflow: hidden;
}

.expert-doc .card {
  border-bottom: 5px solid #99ccff;
}

.expert-doc .card-text {
  color: black;
}

.expert-doc .card-group {
  margin: 0 auto;
}

.expert-doc .card-body {
  padding-left: 3rem;
  width: 100%;
}

.expert-doc .card-body {
  position: relative;
  color: #0066cc;
  max-width: 600px;
}

.expert-doc .card-title {
  font-family: nexa-bold;
}

.expert-doc .card-title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #0066cc;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 300px) {
  .expert-doc header,
  .expert-doc .info {
    text-align: center;
  }
  .expert-doc .card {
    width: 22rem;
  }
}

@media (min-width: 576px) {
  .expert-doc .card {
    width: 21rem;
  }
  .expert-doc header,
  .expert-doc .info {
    text-align: center;
  }
  .expert-doc .card-image-top {
    height: 20rem;
  }
  .expert-doc .card-group {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .expert-doc header,
  .expert-doc .info {
    text-align: left;
  }
}

@media (min-width: 767px) {
  .card-group .card {
    width: 18rem;
  }
}

@media (min-width: 767px) {
  .card-text p {
    text-align: left;
  }
}

.FMT {
  width: 100%;
}

@media (min-width: 300px) {
  .FMT header,
  .FMT p {
    text-align: center;
  }
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.bg-white {
  background-color: #fff;
  color: #333;
}

.bg-dark-blue {
  background-color: #000033;
  color: #fff;
}

.bg-light-blue {
  background-color: #99ccff;
  color: #333;
}

.bg-light-grey {
  background-color: #e0e0e0;
  color: #333;
}

.exclusive-services {
  width: 100%;
}

.exclusive-services header,
.exclusive-services p {
  text-align: center;
}

.es-wrapper p {
  text-align: center;
}

.es-wrapper .services {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.es-wrapper .services img {
  width: 100px;
  height: 100px;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.bg-white {
  background-color: #fff;
  color: #333;
}

.bg-dark-blue {
  background-color: #000033;
  color: #fff;
}

.bg-light-blue {
  background-color: #99ccff;
  color: #333;
}

.bg-light-grey {
  background-color: #e0e0e0;
  color: #333;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  font-family: nexa-bold;
  font-size: 1.5rem;
  line-height: 1.6;
}

body p {
  font-family: nexa-light;
  line-height: 1.3;
}

.nav-parent {
  text-align: center;
}

@media (min-width: 300px) {
  .nav-parent img {
    width: 7rem;
    height: 3rem;
  }
}

.inputSection #marker {
  position: absolute;
}

#marker {
  padding: 15px;
  min-width: 30px;
}

.FAH {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
  background-size: cover;
}

@media (min-width: 300px) {
  .FAH {
    text-align: center;
    padding: 3rem 0;
  }
  .FAH h1 {
    font-family: nexa-bold;
    font-size: 2rem;
  }
  .FAH p {
    font-size: 1.3rem;
    font-family: nexa-light;
  }
  .FAH .inputSection {
    width: 100%;
    display: inline-block;
    padding: 5px;
  }
  .FAH input[type="text"] {
    width: 90%;
    padding: 13px;
    margin: 5px;
  }
  .FAH #searchBtn {
    width: 30%;
    margin: 5px;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #000033;
    color: white;
  }
}

@media (min-width: 576px) {
  .FAH {
    text-align: center;
    padding: 4rem 0;
  }
  .FAH h1 {
    text-align: center;
    font-family: nexa-bold;
    font-weight: 1.5;
  }
  .FAH p {
    text-align: center;
    font-size: 1.3;
    font-family: nexa-light;
  }
  .FAH .inputSection {
    width: 100%;
    display: inline-block;
    padding: 5px;
  }
  .FAH #searchPlace {
    width: 25%;
    padding: 10px;
    margin-right: -10px;
  }
  .FAH #searchDoc {
    width: 50%;
    padding: 10px;
    margin-right: -10px;
    opacity: 0.8;
  }
  .FAH #searchBtn {
    width: 15%;
    padding-top: 11px;
    padding-bottom: 7px;
    background-color: #000033;
    color: white;
    font-family: nexa-light;
    line-height: 1.4;
    border-radius: 0px;
  }
}

@media (min-width: 767px) {
  .FAH {
    padding: 7%;
    text-align: left;
  }
  .FAH h1 {
    text-align: left;
    font-family: nexa-bold;
  }
  .FAH p {
    text-align: left;
    font-family: nexa-light;
    width: 60%;
  }
  .FAH .inputSection {
    width: 70%;
    padding-left: 2%;
  }
  .FAH #searchBtn {
    margin-top: 1px;
  }
}

@media (min-width: 767px) {
  .container input[type="text"] {
    width: 100%;
  }
}

.FMTwrapper img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  .FMTwrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .FMTwrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 767px) {
  .FMTwrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.background {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.background p {
  font-size: 1rem;
  position: absolute;
  top: 80%;
  left: 30%;
  color: white;
  font-family: nexa-light;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .navbar {
    margin: 0 6rem;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */