@import "./breakpoint";
@import "./HIW";
@import "./grids";
@import "./expert-doc";
@import "./_fmt";
@import "./variables";
@import "./exclusive-services";
@import "./footer-section";
@import "../font";
@import "../theme/config";
@import "../theme/utilities";

html {
  box-sizing: border-box;
}

// adding marker inside textfield

.inputSection #marker {
  position: absolute;
}
#marker {
  padding: 19px;
  min-width: 30px;
}

// adding marker inside textfield end

.FAH {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
  background-size: cover;

  @media (max-width: 599px) {
    text-align: center;
    padding: 3rem 0;

    .inputSection {
      width: 100%;
      display: inline-block;
      padding: 5px;
    }
    input[type="text"] {
      width: 90%;
      padding: 13px;
      margin: 5px;
    }
    #searchBtn {
      width: 30%;
      margin: 5px;
      padding: 10px 20px;
      margin-top: 5px;
      background-color: $bg-dark-blue;
      color: white;
    }
  }

  @media (min-width: 600px) {
    #marker {
      padding: 14px;
      min-width: 30px;
    }
    text-align: center;
    padding: 2rem 0;
    #cross-hair {
      position: absolute;
      left: 30%;
      top: 70%;
    }
    .inputSection {
      width: 100%;
      display: inline-block;
      // padding: 5px;
    }
    #searchPlace {
      width: 25%;
      padding: 10px;
      margin-right: -10px;
    }
    #searchDoc {
      width: 50%;
      padding: 10px;
      margin-right: -10px;
    }
    #searchBtn {
      width: 15%;
      padding-top: 11px;
      padding-bottom: 7px;
      background-color: $bg-dark-blue;
      color: white;
      font-family: nexa-light;
      line-height: 1.4;
      border-radius: 0px;

      margin-left: 5px;
      margin-top: -3px;
    }
  }

  @include md {
    text-align: left;
    padding-left: 4.5%;

    p {
      width: 50%;
    }
    .inputSection {
      width: 70%;
    }
  }
}
.container-fluid {
  @include md {
    input[type="text"] {
      width: 100%;
    }
  }
}

.FMTwrapper {
  img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @include md {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.background {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, black);
  p {
    font-size: 1rem;
    position: absolute;
    top: 80%;
    left: 30%;
    color: white;
    font-family: nexa-bold;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  span {
    text-align: left;
    font-size: 0.75rem;
    font-family: nexa-light;
  }
  #para1,
  #para2 {
    font-size: 1rem;
    position: absolute;
    top: 80%;
    left: 20%;
    color: white;
    font-family: nexa-bold;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  #para3,
  #para5 {
    font-size: 1rem;
    position: absolute;
    top: 80%;
    left: 33%;
    color: white;
    font-family: nexa-bold;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .FAH {
    width: 100%;
    header,
    p {
      text-align: center !important;
    }
  }
  .inputSection {
    width: 100%;
    #searchPlace {
      width: 25%;
      padding: 10px;
      margin-right: -10px;
    }
    #searchDoc {
      width: 50%;
      padding: 10px;
      margin-right: -10px;
    }
    #searchBtn {
      width: 15%;
      padding-top: 11px;
      padding-bottom: 7px;
      background-color: $bg-dark-blue;
      color: white;
      font-family: nexa-light;
      line-height: 1.4;
      border-radius: 0px;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .inputSection {
    width: 100%;
  }
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .inputSection {
    width: 100% !important;
  }
  .FAH {
    p {
      text-align: center !important;
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  #para3,
  #para5 {
    left: 37% !important;
    font-size: 1rem;
    position: absolute;
    color: white;
    font-family: nexa-bold;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}
@media (min-device-width: 1200px) {
  .background {
    #para3,
    #para4,
    #para5,
    #para6 {
      font-size: 1rem;
      position: absolute;
      color: white;
      font-family: nexa-bold;
      transform: translate(-50%, -50%);
      text-align: left;
      top: 85%;
      left: 25% !important;
    }
    #para1,
    #para2 {
      font-size: 1rem;
      position: absolute;
      top: 85%;
      left: 15% !important;
      color: white;
      font-family: nexa-bold;
      transform: translate(-50%, -50%);
      text-align: left;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.button-wrapper {
  margin-right: 10px;
  padding: 10px;
  min-width: 300px;
  @include md {
    min-width: 500px;
  }
}

.section_button {
  padding: 15px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 5px;
  font-family: nexa-bold;
  display: block;
  width: 95%;
  cursor: pointer;
  text-align: left;
  margin: 20px auto;
}

.section_button:hover {
  border-width: 3px;
  padding: 13px;
}

.image-wrapper {
  margin-left: 10px;
}

.image-wrapper > div:not(.shown) {
  display: none;
}

@media (min-width: 1200px) {
  #searchBtn {
    margin-left: 5px;
    margin-top: -3px;
  }
}
