@import "../theme/config";

// display section-first class in row
.container-fluid {
  @include xs {
    header {
      display: none;
    }
  }
  @include sm {
    header {
      display: none;
    }
  }
}

.hosp-list {
  .card-title {
    font-family: nexa-bold;
    font-size: 1.5rem;
    color: $button-blue;
  }
}

.wrapper {
  @include xs {
    .left {
      display: none;
    }
  }
  @include sm {
    .left {
      display: none;
    }
  }
  @include md {
    display: flex;
    flex-direction: row;
    .left {
      display: block;
      text-align: left;
    }
  }
}

.sort-section {
  padding: 20px;
  h4 {
    float: left;
  }
  #dropdownMenuButton {
    float: right;
  }
}

.right {
  @include xs {
    padding-bottom: 20px;
    .hosp-list {
      .card-body {
        text-align: left;

        p {
          padding: 5px;

          i {
            padding-right: 10px;
          }
        }
        #btn {
          width: 100%;
          margin: 0 auto;
          margin-top: 10px;
        }
      }
      img {
        width: 18rem;
      }
    }
    .card {
      width: 18rem;
      .card-img-top {
        height: 20rem;
      }
    }
  }
}
.wrapper {
  @include sm {
    .hosp-list {
      display: flex;
      flex-direction: row;
      img {
        width: 18rem;
      }
    }
  }

  @include md {
    text-align: center;
  }
}
.card-body {
  @include xs {
    .specialities {
      padding-top: 20px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      #speciality {
        margin: 5px;
        border: 1px;
        border-style: solid;
        border-color: black;
        padding: 1em;
        border-radius: 15px;
      }
    }

    .call-now-button {
      text-align: center;
      #call-now {
        padding: 10px 40px;
      }
    }
  }

  @include md {
    .specialities {
      padding-top: 20px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
    }
    #speciality {
      border: 1px;
      margin-top: 15px;
      border-style: solid;
      border-color: black;
      padding: 1em;
      border-radius: 15px;
    }
    .multi-organ {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .call-now-button {
      text-align: center;
      #call-now {
        padding: 10px;
      }
    }
  }
}

//horizontal blue line code
@media (max-width: 599px) {
  .right {
    margin-top: 5%;
  }
  .hosp-list {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .card-body {
    i {
      color: $button-blue;
    }
    span {
      font-family: nexa-light;
    }
  }
}

.card-title {
  padding-left: 20px;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: $button-blue;
    position: absolute;
    left: 0;
    top: 7%;
  }
}

@media (min-width: 600px) {
  #call-now {
    float: left;
    width: 70%;
    padding-top: 20px;
  }
  .card-body {
    i {
      color: $button-blue;
    }
    span {
      font-family: nexa-light;
    }
  }
  .sort-section {
    padding: 10%;
  }
}

.right {
  @include md {
    width: 100%;
    .card {
      width: 80%;
    }
  }
}

.wrapper {
  @include md {
    padding-left: 4%;
    padding-top: 4%;
  }
  .right {
    padding-left: 4%;
  }
}

@media (min-width: 1200px) {
  .left {
    width: 25%;
    h5 {
      padding: 15px;
      background-color: $bg-light-grey;
      color: $white;
    }
  }

  .right {
    width: 75%;
  }
  .hosp-list {
    padding-bottom: 10px;
    padding-right: 4rem;
  }
  .sort-section {
    padding: 2.5rem 4rem;
  }
  #call-now {
    width: 30%;
  }
}

.form-check {
  input,
  label {
    padding: 5px;
  }
}

.left {
  p {
    padding: 10px;
  }
}
