@media (min-width: 300px) {
  .container-fluid header {
    display: none;
  }
}

@media (min-width: 576px) {
  .container-fluid header {
    display: none;
  }
}

@media (min-width: 300px) {
  .wrapper .left {
    display: none;
  }
}

@media (min-width: 576px) {
  .wrapper .left {
    display: none;
  }
}

@media (min-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .left {
    display: block;
    text-align: left;
  }
}

.sort-section {
  padding: 20px;
}

.sort-section h4 {
  float: left;
}

.sort-section #dropdownMenuButton {
  float: right;
}

.right {
  margin-top: 5%;
}

@media (min-width: 300px) {
  .right {
    padding-bottom: 20px;
    text-align: center;
  }
  .right .hosp-list {
    padding-top: 10px;
    display: inline-block;
  }
  .right .hosp-list .card-body {
    text-align: left;
  }
  .right .hosp-list .card-body p {
    padding: 5px;
  }
  .right .hosp-list .card-body p i {
    padding-right: 10px;
  }
  .right .hosp-list .card-body #btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .right .hosp-list img {
    width: 18rem;
  }
  .right .card {
    width: 18rem;
  }
  .right .card .card-img-top {
    height: 20rem;
  }
}

@media (min-width: 576px) {
  .wrapper .hosp-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .hosp-list img {
    width: 18rem;
  }
}

@media (min-width: 767px) {
  .wrapper {
    text-align: center;
  }
}

@media (min-width: 300px) {
  .card-body .specialities {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .card-body .specialities #speciality {
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-radius: 15px;
  }
  .card-body .call-now-button {
    text-align: center;
  }
  .card-body .call-now-button #call-now {
    padding: 10px;
  }
}

@media (min-width: 767px) {
  .card-body .specialities {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }
  .card-body #speciality {
    border: 1px;
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-radius: 15px;
  }
  .card-body .multi-organ {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .card-body .call-now-button {
    text-align: center;
  }
  .card-body .call-now-button #call-now {
    padding: 10px;
  }
}

@media (min-width: 767px) {
  .right {
    width: 100%;
  }
  .right .card {
    width: 80%;
  }
}

@media (min-width: 767px) {
  .wrapper {
    padding-left: 4%;
    padding-top: 4%;
  }
}

.wrapper .right {
  padding-left: 4%;
}

@media (max-width: 599px) {
  .bottom {
    padding-top: 20px;
    background-color: skyblue;
  }
  .bottom .help {
    text-align: center;
    padding: 5px;
  }
  .bottom .help header,
  .bottom .help p,
  .bottom .help button {
    padding: 5px;
  }
  .bottom .help header {
    color: white;
    font-family: nexa-bold;
    font-size: 1.5rem;
  }
  .footer-section {
    background-color: #050928;
    text-align: center;
  }
  .footer-section .links a {
    display: block;
    padding: 5px;
  }
  .footer-section p {
    color: white;
  }
}

@media (min-width: 600px) {
  .bottom {
    padding-top: 20px;
    background-color: skyblue;
    text-align: center;
  }
  .bottom .help {
    padding: 5px;
  }
  .bottom .help header,
  .bottom .help p,
  .bottom .help button {
    padding: 5px;
  }
  .bottom .help header {
    color: white;
    font-family: nexa-bold;
    font-size: 1.5rem;
  }
  .footer-section {
    background-color: #050928;
  }
  .footer-menu img {
    float: right;
  }
  .social-icons {
    padding-top: 5%;
  }
  .social-icon-items {
    text-align: right;
  }
  .social-icon-items p {
    float: left;
  }
  .links {
    padding-top: 5%;
  }
  p {
    color: white;
  }
}

@media (min-width: 1200px) {
  .bottom {
    padding-top: 20px;
    background-color: skyblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 5%;
  }
  .bottom .help {
    padding: 5px;
  }
  .bottom .help header,
  .bottom .help p,
  .bottom .help .btn {
    padding: 5px;
  }
  .bottom .help header {
    color: white;
    font-family: nexa-bold;
    font-size: 1.5rem;
  }
  .bottom .btn {
    position: absolute;
    right: 10%;
    width: 40%;
  }
  .footer-section {
    background-color: #050928;
  }
  .footer-menu img {
    float: right;
  }
  .social-icons {
    padding-top: 3%;
  }
  .social-icon-items {
    text-align: right;
  }
  .social-icon-items p {
    float: left;
  }
  .links {
    padding-top: 2%;
  }
  .footer-section {
    background-color: #050928;
  }
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.nav-parent {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */