@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

header {
  font-family: nexa-bold;
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  header {
    font-size: 1.8rem !important;
  }
}

p {
  font-family: nexa-light;
  font-size: 1.1rem;
  line-height: 1.4;
}

h2 {
  font-family: nexa-bold;
  font-size: 1.4rem;
  color: #0066cc;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

input {
  font-family: nexa-light;
}

label {
  font-family: nexa-light;
}

h1 {
  font-family: nexa-bold;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

input {
  font-family: nexa-light;
}

h3 {
  font-family: nexa-bold;
  font-size: 1.3rem;
  line-height: 1.3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 300px) {
  .container-fluid header {
    display: none;
  }
}

@media (min-width: 576px) {
  .container-fluid header {
    display: none;
  }
}

.hosp-list .card-title {
  font-family: nexa-bold;
  font-size: 1.5rem;
  color: #0066cc;
}

@media (min-width: 300px) {
  .wrapper .left {
    display: none;
  }
}

@media (min-width: 576px) {
  .wrapper .left {
    display: none;
  }
}

@media (min-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .left {
    display: block;
    text-align: left;
  }
}

.sort-section {
  padding: 20px;
}

.sort-section h4 {
  float: left;
}

.sort-section #dropdownMenuButton {
  float: right;
}

@media (min-width: 300px) {
  .right {
    padding-bottom: 20px;
  }
  .right .hosp-list .card-body {
    text-align: left;
  }
  .right .hosp-list .card-body p {
    padding: 5px;
  }
  .right .hosp-list .card-body p i {
    padding-right: 10px;
  }
  .right .hosp-list .card-body #btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .right .hosp-list img {
    width: 18rem;
  }
  .right .card {
    width: 18rem;
  }
  .right .card .card-img-top {
    height: 20rem;
  }
}

@media (min-width: 576px) {
  .wrapper .hosp-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .hosp-list img {
    width: 18rem;
  }
}

@media (min-width: 767px) {
  .wrapper {
    text-align: center;
  }
}

@media (min-width: 300px) {
  .card-body .specialities {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .card-body .specialities #speciality {
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-radius: 15px;
  }
  .card-body .call-now-button {
    text-align: center;
  }
  .card-body .call-now-button #call-now {
    padding: 10px 40px;
  }
}

@media (min-width: 767px) {
  .card-body .specialities {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }
  .card-body #speciality {
    border: 1px;
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-radius: 15px;
  }
  .card-body .multi-organ {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .card-body .call-now-button {
    text-align: center;
  }
  .card-body .call-now-button #call-now {
    padding: 10px;
  }
}

@media (max-width: 599px) {
  .right {
    margin-top: 5%;
  }
  .hosp-list {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .card-body i {
    color: #0066cc;
  }
  .card-body span {
    font-family: nexa-light;
  }
}

.card-title {
  padding-left: 20px;
}

.card-title::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #0066cc;
  position: absolute;
  left: 0;
  top: 7%;
}

@media (min-width: 600px) {
  #call-now {
    float: left;
    width: 70%;
    padding-top: 20px;
  }
  .card-body i {
    color: #0066cc;
  }
  .card-body span {
    font-family: nexa-light;
  }
  .sort-section {
    padding: 10%;
  }
}

@media (min-width: 767px) {
  .right {
    width: 100%;
  }
  .right .card {
    width: 80%;
  }
}

@media (min-width: 767px) {
  .wrapper {
    padding-left: 4%;
    padding-top: 4%;
  }
}

.wrapper .right {
  padding-left: 4%;
}

@media (min-width: 1200px) {
  .left {
    width: 25%;
  }
  .left h5 {
    padding: 15px;
    background-color: #e0e0e0;
    color: #fff;
  }
  .right {
    width: 75%;
  }
  .hosp-list {
    padding-bottom: 10px;
    padding-right: 4rem;
  }
  .sort-section {
    padding: 2.5rem 4rem;
  }
  #call-now {
    width: 30%;
  }
}

.form-check input,
.form-check label {
  padding: 5px;
}

.left p {
  padding: 10px;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.nav-parent {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */