@import "../font";
@import "../main/breakpoint";
@import "../theme/config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  background-color: $bg-light-blue;

  padding: 10px;
  .appoint {
    input {
      margin: 7px;
    }
  }
  label {
    font-family: nexa-bold;
    font-size: 1.1rem;
    padding: 7px;
  }
}

.appoint {
  max-width: 550px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: $white;
  padding: 30px;
}

h4 {
  text-align: center;
  color: $button-blue;
  padding: 10px;
  font-family: nexa-bold;
  font-size: 1.2rem;
}
.date {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
}

.textarea {
  width: 100%;
  height: 100px;
}
.button1 {
  width: 100%;
  background-color: $bg-dark-blue;
  color: white;
  padding: 5px;
}

img {
  width: 25px;
  height: 25px;
}

footer {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5px;
}
