@import "../font";
@import "../theme/config";

.right-panel {
  .right {
    padding-top: 7px;
  }

  .appointmentSlot {
    position: relative;
    border-left: 10px solid;
    border-color: $button-blue;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(245, 240, 240, 1);
    &:nth-of-type(odd) {
      border-color: #629677;
    }
    i {
      color: $button-blue;
      padding-right: 10px;
    }

    .hosp,
    .timeInfo {
      color: black;
      padding-left: 20px;
    }
    padding: 15px;
    // background: linear-gradient(
    //   90deg,
    //   rgba(2, 0, 36, 1) 0%,
    //   rgba(90, 90, 179, 1) 35%,
    //   rgba(0, 212, 255, 1) 100%
    // );
    margin-bottom: 10px;
    width: 100%;

    @media (max-width: 599px) {
      max-height: 300px;
      .left {
        display: flex;
        justify-content: space-between;
        .date {
          color: $white !important;
          margin: 5px;
        }
        .time {
          color: $white;
        }
      }
      .right {
        text-align: center;
      }
    }
    @media (min-width: 600px) {
      .left {
        display: flex;
        justify-content: space-between;
        .date {
          margin: 5px;
        }
        .time {
          color: $white;
        }
      }
      .right {
        text-align: center;
      }
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        .time {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.date {
  padding: 10px;
  background-color: $white;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
}
.pagination {
  position: fixed;
  bottom: 0;
  left: 65%;
}
