<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Treatments</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/aboutus/main.css" type="text/css" />

    <!-- Compiled and minified CSS -->
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <!-- navbar included -->

    <section class="top-container">
      <div class="overflow">
      <div class="inner-container-for-header">
        <header>Living healthy matters</header>
        <p class="top-container__paragraph">
          Our specialist aspire to bridge the gap between your benefit plans and
          healt needs
        </p>
      </div>
    </div>
    </section>
    <section class="content">
      <article>
        <header>
          You have to begin to tell the story of your life as you now want it to
          be and discounties tale
        </header>
        <p class="article__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          quae iure dolore eum, explicabo eaque dolorem architecto quod optio
          hic accusantium commodi eius magnam voluptas animi, vero at. Ad magni
          corrupti temporibus ab maiores ipsum modi dolorum qui magnam suscipit
          officiis et, voluptatibus pariatur incidunt reprehenderit fugit
          eveniet eius aperiam! Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Id illo quo consequuntur laudantium rem facilis
          dignissimos? Ducimus consequuntur, magnam reiciendis minima quisquam
          dolor, provident alias id suscipit dolorem deleniti soluta.
           Lorem <p>
          ipsum dolor sit amet consectetur adipisicing elit. Id assumenda sit
          obcaecati ullam quidem. Expedita quod nobis aliquam deserunt in unde?
          Deserunt molestiae quam, necessitatibus laboriosam quod enim odio
          perspiciatis. Delectus sunt ullam praesentium, autem odio nisi
          assumenda eos soluta nobis consequatur porro obcaecati officia sit vel
          unde eligendi consequuntur.
        </p></p>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png
        " alt="">
      </article>
      <section class="doctor-img">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png
        " alt="">
    </section>
    </section>
    
    <section class="black-container">
        
        <div class = "video-container">
            <video autoplay muted loop id="myvid">
            <source src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4
            " type="video/mp4" frameborder="0" allowfullscreen >
            </div>
        </video>
      <div class="inner-container">
        <header>Your wellness builds upon medical daily</header>
        <p> Find your best self. discover new ways to live an inspiring life
            through natural beauty, nutrition and diet, an active lifestyle and
            better relationship</p>
        <button class="btn btn-primary">Get a free checkup</button>
      </div>
      <div class="info-container">
        <div class="info"><h2>12M</h2><p>Happy Patient</p></div>
        <div class="info"><h2>5K</h2><p>Medical Assistant</p></div>
        <div class="info"><h2>9.8</h2><p>Alexa Score</p></div>
        <div class="info"><h2>3.2K</h2><p>Doctors Available</p></div>
        <div class="info"><h2>45K</h2><p>Cure Rate</p></div>
        <div class="info"><h2>75</h2><p>Health Points</p></div>
      </div>
    </section>
   <%- include('footer')%>
  </body>
</html>
