<html>
  <head>
    <script type="text/javascript" src="./js/glocation.js"></script>
    <script type="text/javascript" src="./js/docSearch.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCApDjpZ6lHz-PN0os4RPGU2cRfD8W7BoE&libraries=places&callback=initAutocomplete"
      async
      defer
    ></script>
    <script type="text/javascript" src="./js/style.js"></script>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/contactUs/main.css" type="text/css" />

    <%- include('partials/bootstrap') %>

    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 300px; /* The height is 400 pixels */
        width: 90%; /* The width is the width of the web page */
        margin: 0 auto;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="top"></div>
    <%- include('partials/navbar') %>

    <div class="container-fluid">
      <div class="cucover">
        <div class="head-title">
          <h4>Contact Us</h4>
          <span>Home/contact us</span>
        </div>
      </div>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var delhi = { lat: 28.7041, lng: 77.1025 };
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: delhi,
        });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: delhi, map: map });
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCApDjpZ6lHz-PN0os4RPGU2cRfD8W7BoE&callback=initMap"
    ></script>

    <!-- contact us form start-->

    <div class="wrapper">
      <div class="contact-form">
        <div class="info">
          <div class="add">
            <i class="fas fa-home"></i><b> Noida India</b>
            <p>sector 45</p>
          </div>
          <div class="phoneQ">
            <i class="fas fa-phone"></i>
            <b>022-8457898745</b>
            <p>Mon to fri 9-5</p>
          </div>
          <div class="emailQ">
            <i class="fas fa-home"></i>
            <b>support@tvstra.com</b>
            <p>Send us your query anytime</p>
          </div>
        </div> 
        <form action="post" method="#"></form>
        <div class="info1">
         
            <div class="input-fields">
              <input type="text" class="input" placeholder="name" />
              <input type="email" class="input" placeholder="email" />
              <input type="text" class="input" placeholder="subject" />
            </div>
            <div class="textarea">
              <textarea name="text" id="">Message</textarea>
            </div>
              <button class="btn btn-primary">Send message</button>
            </div>
          </form>
        </div>
      </div>

    <!--contact us form ends-->

    <div class="social">
      <div class="fmenu">
        <div class="ff"><img src="/footer.png" /></div>
        <div class="fmenu-item">
          <span><a href="#">Doctor</a></span>
          <span><a href="#">Hospital</a></span>
          <span><a href="#">Treatment</a></span>
          <span><a href="#">Other Services</a></span>
          <span><a href="#">FAQ</a></span>
        </div>
      </div>

      <div class="footer">
        <div class="icon">
          <img src="/facebook.png" height="30px" width="30px" />
          <img src="/google-plus.png" height="30px" width="30px" />
          <img src="/pinterest.png" height="30px" width="30px" />
          <img src="/twitter.png" height="30px" width="30px" />
          <img src="/youtube.png" height="30px" width="30px" />
        </div>
        <div class="copyright">All rights reserved. &copy tvastra 2018</div>
      </div>
    </div>
  </body>
</html>
