<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/dashboard/dashboard.css" type="text/css" />
    <link rel="stylesheet" href="/theme/theme.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/createSchedule/createSchedule.css"
      type="text/css"
    />

    <script type="text/javascript" src="/flashMessages.js"></script>

    <%- include('partials/bootstrap') %>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="wrapper">
      <div class="left-panel">
        <header>Dashboard</header>
        <div class="profile">
          <a href="/users/profile">General Details</a>
        </div>
        <hr />

        <div class="docprofile">
          <a href="/users/professional_profile">Professional Details</a>
        </div>
        <hr />
        <div class="appointments">
          <a href="#">Appointments</a>
        </div>
        <hr />
        <div class="create/edit">
          <a href="/createSchedule">Create/edit appointments</a>
        </div>
        <hr />
        <div class="setting">
          <a href="#">Settings</a>
        </div>
        <!-- <div class="popup-button-schedule-appointment">
          <button class="btn btn-dark open-form" onclick="openForm()">+</button>
        </div> -->
      </div>

      <div class="right-panel">
        <div class="form-wrapper">
          <div class="inner-wrapper">
            <%- include('partials/messages') %>

            <form action="/createSchedule" method="POST" id="myform">
              <div class="form-group">
                <label for="date">Select date </label>
                <input type="date" name="date" id="date" />
              </div>
              <!-- <div class="form-group">
                <label for="exampleFormControlSelect2"
                  ><h3>Choose available days</h3></label
                >
                <select
                  multiple
                  class="form-control"
                  id="exampleFormControlSelect2"
                  name="dayselect"
                >
                  <option>monday</option>
                  <option>tuesday</option>
                  <option>wednesday</option>
                  <option>thursday</option>
                  <option>friday</option>
                  <option>saturday</option>
                  <option>sunday</option>
                </select>
              </div> -->
              <div class="form-group">
                <label for="exampleFormControlSelect1">
                  <h3>Select Hospital</h3></label
                >
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  name="selecthospital"
                >
                  <option>Sahyadri</option>
                </select>
              </div>

              <div class="time-wrapper">
                <div class="form-group">
                  <label for="ExampleTime"><h3>Select start time</h3></label>
                  <br />
                  <input type="time" name="startTime" id="time" />
                </div>
                <div class="form-group">
                  <label for="ExampleTime"><h3>Select end time</h3></label>
                  <br />
                  <input type="time" name="endtime" id="endtime" />
                </div>
              </div>
              <div class="form-group">
                <label for=""><h3>Enter Interval in minuit</h3></label>
                <input type="number" name="interval" id="interval" />
              </div>
              <button type="submit" class="btn btn-dark" id="addSchedule">
                Add Schedule
              </button>
              <a href="/displaySlot"
                ><button
                  class="btn btn-dark my-2"
                  id="viewSchedule"
                  type="button"
                >
                  View Scheduled appointment
                </button></a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
