<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Doctors</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/docprofile/docprofile.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <!-- navbar included -->
    <div class="top__header">
      <div class="doc__header">
        <header>About John Nissan</header>
      </div>
    </div>
    <div class="wrapper">
      <div class="outer">
        <div class="pic">
          <div class="doc__image">
            <img
              src=" https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg
            "
              alt=""
            />
          </div>
          <div class="btn btn-dark" type="Submit">Book appointment</div>
        </div>
        <div class="section1">
          <header>John Nissan</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
          <hr />
          <details>
            <summary><i class="fas fa-medal"></i>Specialisation</summary>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary
              ><i class="fas fa-stethoscope"></i> List of treatments</summary
            >

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary><i class="fas fa-briefcase"></i> Work Experience</summary>
            >
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary><i class="fas fa-star"></i>Qualification</summary>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary><i class="fas fa-award"></i> Awards</summary>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary><i class="fas fa-map-marker-alt"></i> Location</summary>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
          <hr />
          <details>
            <summary><i class="fas fa-rupee-sign"></i> Average Fees</summary>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
              pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique
              vel lacus vitae, suscipit sollicitudin felis. Aenean nec dictum
              turpis, vitae ultrices purus. Nam sed augue vel purus maximus
              viverra nec in
            </p>
          </details>
        </div>
      </div>
    </div>

    <section class="bottom">
      <div class="help">
        <header>Need Help?</header>
        <p>Just let us know we will happy to assist you</p>
      </div>
      <div class="btn">
        <button class="btn btn-primary">Submit your query</button>
      </div>
    </section>
    <section class="footer-section">
      <div class="footer-menu">
        <img src="/footer.png" alt="" id="img-footer" />
        <div class="links">
          <a href="#">Doctor</a>
          <a href="#">Hospital</a>
          <a href="#">Treatment</a>
          <a href="#">Other-Services</a>
          <a href="#">FAQs</a>
        </div>
      </div>

      <div class="social-icons">
        <div class="social-icon-items">
          <a href="#">
            <img src="/facebook.png" height="30px" width="30px"
          /></a>
          <a href="#"
            ><img src="/google-plus.png" height="30px" width="30px"
          /></a>
          <a href="#">
            <img src="/pinterest.png" height="30px" width="30px"
          /></a>
          <a href="#"><img src="/twitter.png" height="30px" width="30px" /></a>
          <a href="#"><img src="/youtube.png" height="30px" width="30px" /></a>
          <p>All rights reserved &copy; tcstra 2020</p>
        </div>
      </div>
    </section>
  </body>
</html>
