<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Doctors</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/doctors/doctors.css" type="text/css" />
    <link rel="stylesheet" href="/theme/theme.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <div class="nav-parent">
      <%- include('partials/navbar') %>
    </div>
    <!-- navbar included -->
    <!-- first div started -->
    <div class="container-fluid">
      <header>Cardiac surgeon in <u>Delhi</u></header>
    </div>
    <div class="sort-section">
      <h4>Home/Doctor List</h4>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Name</a>
          <a class="dropdown-item" href="#">Experience</a>
          <a class="dropdown-item" href="#">City</a>
        </div>
      </div>
    </div>

    <section class="main">
      <div class="left">
        <h5>Filter by</h5>
        <p>Location</p>
        <div class="form-check">
          <input
            class="form-check-input-position-static"
            type="checkbox"
            checked
          />
          <label>DLF cyber city</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Dwarka</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>lajpat nagar</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>panjabi baug</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>pusa road</label><br />
          <a id="toggleButton" onclick="toggleText()" href="javascript:void(0)"
            >+Show more</a
          >
        </div>
        <hr />
        <p>Treatment</p>
        <div class="form-check">
          <input
            class="form-check-input-position-static"
            type="checkbox"
            checked
          />
          <label>Multi Organ Transplant</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Orthopedic surgery</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Infertility Treatment</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Dentistry</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Cardiology</label><br />
          <a id="toggleButton" onclick="toggleText2()" href="javascript:void(0)"
            >+Show more</a
          >
        </div>
        <hr />
        <p>Hospitals</p>
        <div class="form-check">
          <input
            class="form-check-input-position-static"
            type="checkbox"
            checked
          />
          <label>Apollo Hospital</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Sahyadri Hospital</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>jehangir hospital</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Ruby hospital</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>Sasoon Hospital</label><br />
          <a id="toggleButton" onclick="toggleText3()" href="javascript:void(0)"
            >+Show more</a
          >
        </div>
        <hr />
        <p>Experience</p>
        <div class="form-check">
          <input
            class="form-check-input-position-static"
            type="checkbox"
            checked
          />
          <label>30+</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>25+</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>20+</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>15+</label><br />
          <input class="form-check-input-position-static" type="checkbox" />
          <label>10+</label><br />
          <a id="toggleButton" onclick="toggleText4()" href="javascript:void(0)"
            >+Show more</a
          >
        </div>
        <hr />
      </div>
      <div class="doc-wrapper">
        <div class="doc-list py-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><span>Duke sanon</span></h5>
              <div class="info-grid">
                <p class="card-text">
                  <i class="fas fa-medal"></i><span>Surgeon</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-certificate"> </i><span>MBBS, MD, FRCP</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-clock"></i><span>8 Years of experience</span>
                </p>
                <span class="info"
                  ><p class="card-text">
                    <i class="fas fa-hospital"></i
                    ><span>Apollo hospital delhi</span>
                  </p></span
                >
              </div>
              <button class="btn btn-primary my-3" type="submit">
                Book Appointment
              </button>
            </div>

            <img
              class="card-img-top"
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
              class="img-fluid w-100"
              alt="Card image cap"
            />
          </div>
        </div>
        <div class="doc-list">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><span>Duke sanon</span></h5>
              <div class="info-grid">
                <p class="card-text">
                  <i class="fas fa-medal"></i><span>Surgeon</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-certificate"> </i><span>MBBS, MD, FRCP</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-clock"></i><span>8 Years of experience</span>
                </p>
                <span class="info"
                  ><p class="card-text">
                    <i class="fas fa-hospital"></i
                    ><span>Apollo hospital delhi</span>
                  </p></span
                >
              </div>
              <button class="btn btn-primary my-3" type="submit">
                Book Appointment
              </button>
            </div>

            <img
              class="card-img-top"
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
              class="img-fluid w-100"
              alt="Card image cap"
              alt="Card image cap"
            />
          </div>
        </div>
        <div class="doc-list py-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><span>Duke sanon</span></h5>
              <div class="info-grid">
                <p class="card-text">
                  <i class="fas fa-medal"></i><span>Surgeon</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-certificate"> </i><span>MBBS, MD, FRCP</span>
                </p>
                <p class="card-text">
                  <i class="fas fa-clock"></i><span>8 Years of experience</span>
                </p>
                <span class="info"
                  ><p class="card-text">
                    <i class="fas fa-hospital"></i
                    ><span>Apollo hospital delhi</span>
                  </p></span
                >
              </div>
              <button class="btn btn-primary my-3" type="submit">
                Book Appointment
              </button>
            </div>

            <img
              class="card-img-top"
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
              class="img-fluid w-100"
              alt="Card image cap"
              alt="Card image cap"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include('footer') %>
  </body>
</html>
