<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Doctors</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/faq/faq.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <div class="spheader">
        <h2>FAQ</h2>
    </div>
      <div class="detailFaq">
        <details>
          <summary id="summary"
            >How do i make payments</summary>         >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
        <hr/>
        <details>
          <summary id="summary">There is not enough money in my wallet what do i do</summary> >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
        <hr/>
        <details>
          <summary id="summary">Can i transfer balance in wallet to another user?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
        <hr/>

        <details>
          <summary id="summary">is Portea money same as portea wallet?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
        <hr/>

        <details>
          <summary id="summary">Refund</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
        <hr/>

        <details>
          <summary id="summary">What is family id</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
            pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
            lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
            vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
          </p>
        </details>
      </div>
    </div>
    <section class="bottom">
        <div class="help">
          <header>Need Help?</header>
          <p>Just let us know we will happy to assist you</p>
        </div>
        <div class="btn">
          <button class="btn btn-primary">Submit your query</button>
        </div>
      </section>

      <section class="footer-section">
        <div class="footer-menu">
          <img src="/footer.png" alt="" id="img-footer" />
          <div class="links">
            <a href="#">Doctor</a>
            <a href="#">Hospital</a>
            <a href="#">Treatment</a>
            <a href="#">Other-Services</a>
            <a href="#">FAQs</a>
          </div>
        </div>
  
        <div class="social-icons">
          <div class="social-icon-items">
            <a href="#">
              <img src="/facebook.png" height="30px" width="30px"
            /></a>
            <a href="#"
              ><img src="/google-plus.png" height="30px" width="30px"
            /></a>
            <a href="#">
              <img src="/pinterest.png" height="30px" width="30px"
            /></a>
            <a href="#"><img src="/twitter.png" height="30px" width="30px" /></a>
            <a href="#"><img src="/youtube.png" height="30px" width="30px" /></a>
            <p>All rights reserved &copy; tcstra 2020</p>
          </div>
        </div>
      </section>
    </body>
  </html>
  