<link rel="stylesheet" href="/reset.css" type="text/css" />
<link rel="stylesheet" href="/footer/footer.css" type="text/css" />
<section class="bottom bg-light-blue p-3">
  <div class="help">
    <header style="color: white;">Need Help?</header>
    <p class="py-2">Just let us know we will happy to assist you</p>
  </div>
  <div class="btn" id="button">
    <button class="btn btn-primary">Submit your enquiry</button>
  </div>
</section>
<section class="footer-section p-3">
  <div class="footer-menu">
    <img src="/footer.png" alt="" id="img-footer" />
    <div class="links">
      <a href="#">Doctor</a>
      <a href="#">Hospital</a>
      <a href="#">Treatment</a>
      <a href="#">Other Services</a>
      <a href="#">FAQs</a>
    </div>
  </div>

  <div class="social-icons">
    <div class="social-icon-items class py-1">
      <a href="#"><i class="fab fa-facebook-f"></i> </a>
      <a href="#"><i class="fab fa-pinterest-p"></i> </a>
      <a href="#"> <i class="fab fa-twitter"></i> </a>
      <a href="#"><i class="fab fa-google-plus-g"></i> </a>
      <a href="#"><i class="fab fa-instagram"></i> </a>
      <p>All rights reserved &copy; tvstra 2018</p>
    </div>
  </div>
</section>
