<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/registration/signin.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <div class="nav-parent">
      <%- include('partials/navbar') %>
    </div>
    <!-- navbar included -->

    <!-- signup form -->
    <section class="signin">
      <div class="form-wrapper">
        <div class="form-group">
          <header>Reset Password</header>
          <hr />
          <form action="/users/forgotPass" method="POST">
            <input
              type="email"
              class="form-control my-2"
              id="email"
              aria-describedby="emailHelp"
              placeholder="Enter Email"
              name="email"
            />

            <button type="submit" class="btn btn-primary my-2" id="btn">
              Forgot Password <i class="fas fa-sign-in-alt"></i>
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer>All rights reserved &copy; Tvstra.com</footer>
  </body>
</html>
