<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/index.js"></script>
<link rel="stylesheet" href="/main/index.css" type="text/css" /> -->


  <div class="lap-wrapper">
    <div class="wrapper">
      <div class="button-wrapper">
        <div class="button">
          <button
          autofocus
            id="btn1"
            type="button"
            placeholder="01 Fix consultation"
            class="section_button"
            data-image-id="div1"
            onclick="div1()"
          >
            <h5> <span class="id_no">01</span>  Fix consultation</h5> 
          </button>
        </div>
        <div class="button">
          <button
            type="button"
            placeholder="02 Upload medical records"
            class="section_button"
            data-image-id="div2"
            onclick="div2()"
          >
          <h5> <span class="id_no">02</span>  Upload medical records </h5>
          </button>
        </div>
        <div class="button">
          <button
            type="button"
            placeholder="03 Consult with doctor"
            class="section_button"
            data-image-id="div3"
            onclick="div3()"
          >
          <h5> <span class="id_no">03</span> Consult with doctor </h5>
          </button>
        </div>
        <div class="button">
          <button
            type="button"
            placeholder="04 Fix surgery"
            class="section_button"
            data-image-id="div4"
            onclick="div4()"
          >
          <h5> <span class="id_no">04</span>  Fix surgery </h5>
          </button>
        </div>

        <div class="button">
          <button
            type="button"
            placeholder="05 Hospital sent estimates"
            class="section_button"
            data-image-id="div5"
            onclick="div5()"
          >
          <h5> <span class="id_no">05</span>  Hospital sent estimates </h5>
          </button>
        </div>

        <div class="button">
          <button
            type="button"
            placeholder="06 Payment"
            class="section_button"
            data-image-id="div6"
            onclick="div6()"
          >
          <h5> <span class="id_no">06</span>  Payment </h5>
          </button>
        </div>
        <div class="button">
          <button
            type="button"
            placeholder="07 Surgery completed"
            class="section_button"
            data-image-id="div7"
            onclick="div7()"
          >
          <h5> <span class="id_no">07</span>  Surgery completed </h5>
          </button>
        </div>
      </div>
      <div class="image-wrapper">
        <div id="div1" style="display: block;">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"
            height="300px"
            width="300px"
            style="display: block;"
          />
          <header>Fix consultation</header>
          <p>
            This dipicts that user will have to fix appointment first when it
            select perticular doctor
          </p>
        </div>
        <div id="div2">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png"
            height="300px"
            width="300px"
          />
          <header>Upload Medical Records</header>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita eligendi neque placeat dolores iusto cum dolorem </p>
        </div>
        <div id="div3">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg"
            height="300px"
            width="300px"
          />
          <header>Consult With Doctors</header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi soluta aliquam corporis non </p>
        </div>
        <div id="div4">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg"
            height="300px"
            width="300px"
          />
          <header>Fix Surgery</header>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, dolorem esse dolorum laudantium sed ut, impedit possimus </p>
        </div>

        <div id="div5">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg"
            height="300px"
            width="300px"
          />
          <header>Hospital Sent Estimates</header>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam earum quo dicta ratione autem </p>
        </div>
        <div id="div6">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg"
            height="300px"
            width="300px"
          />
          <header>Payment</header>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem error quidem. Obcaecati sit perferendis necessitatibus id repudiandae deserunt veniam nobis quia tempore! Debitis.</p>
        </div>
        <div id="div7">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg"
            height="300px"
            width="300px"
          />
          <header>Surgery completed</header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, nobis harum facere sunt pariatur obcaecati maiores eveniet, </p>
        </div>
      </div>
    </div>
  </div>
</body>
