<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/registration/signin.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <div class="nav-parent">
      <!-- <%- include('partials/navbar') %> -->
    </div>
    <!-- navbar included -->

    <!-- signup form -->
    <% if(error) { %>

    <p><%= error %></p>
    <%}%>
    <section class="signin">
      <div class="form-wrapper">
        <div class="form-group">
          <%- include('partials/messages') %>

          <header>Sign In</header>
          <hr />
          <form action="/users/otpsignin" method="POST">
            <input
              type="tel"
              class="form-control"
              id="mobile"
              aria-describedby="mobile"
              placeholder="Enter Mobile No"
              name="mobile"
            />
            <!-- <input
              type="number"
              class="form-control"
              id="otp"
              aria-describedby="emailHelp"
              placeholder="Enter Otp"
              name="otp"
            /> -->
            <p>Not registered <a href="signup">Signup</a></p>
            <p>Sign in using Email <a href="emailsignin">Email Signin</a></p>
            <button type="submit" class="btn btn-primary" id="btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer>All rights reserved &copy; Tvstra.com</footer>
  </body>
</html>
