<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Treatments</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/treatment/main.css" type="text/css" />

    <!-- Compiled and minified CSS -->
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <!-- navbar included -->

    <div class="container-fluid">
      <div class="header-info">
        <header>Dentistry</header>
      </div>
    </div>
    <section class="one">
      <div class="outer-wrapper">
        <div class="wrapper">
          <div class="vaccination"></div>
          <div class="description">
            <header>About dentist department</header>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima
              nihil molestias expedita iure assumenda, deleniti sequi aut
              adipisci maiores! Aliquid! Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Amet rerum veritatis nobis impedit voluptatum
              quia quidem iusto, natus fugiat fugit.
            </p>
            <ul>
              <li><span>CF related diabetes(Monthly)</span></li>
              <li><span>Gastro intestinal(monthly)</span></li>
              <li><span>CF releted liver disease(monthly)</span></li>
              <li><span>Sweat testing(3 times per month)</span></li>
            </ul>
          </div>
        </div>

        <section class="two">
          <div class="info1">
            <i class="fas fa-stethoscope fa-2x"></i>
            <header>Cetral Nervous System</header>
            <p>
              open visitation with only two visitors in room at any room. No one
              under 12 years age
            </p>
          </div>
          <div class="info2">
            <i class="fas fa-align-center fa-2x"></i>
            <header>Allergic Disorders</header>
            <p>
              open visitation with only two visitors in room at any room. No one
              under 12 years age
            </p>
          </div>
          <div class="info3">
            <i class="fas fa-heartbeat fa-2x"></i>
            <header>Neoplastic Disorders</header>
            <p>
              open visitation with only two visitors in room at any room. No one
              under 12 years age
            </p>
          </div>
        </section>
      </div>
      <div class="right-sidebar">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Service Details</h5>
            <hr />
            <p class="card-text">Price <span>from $340</span></p>
            <hr />
            <p class="card-text">Duration <span>10min</span></p>
            <hr />
            <p class="card-text">office <span>#46</span></p>
            <hr />
            <p class="card-text">Doctor <span>Elizabeth beard</span></p>
            <hr />
            <p class="card-text">category <span>Family medicine</span></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Schedule</h5>
            <hr />
            <p class="card-text">Tuesday <span>10.00 Am - 01.00 Am</span></p>
            <hr />
            <p class="card-text">Friday <span>07.00 pm - 10.00 pm</span></p>
            <hr />
          </div>
        </div>
      </div>
    </section>
    <section class="three">
      <header>More Services</header>

      <div class="more-info">
        <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Dental Services</h5>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cancer</h5>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
          </div>
        </div>

        <!-- <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
          </div>
        </div>

        <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
          </div>
        </div>

        <div class="card">
          <img
            class="card-img-top"
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
          </div>
        </div> -->
      </div>
    </section>
    <section class="footer-section">
      <div class="footer-menu">
        <div class="img">
          <img src="/footer.png" alt="" id="img-footer" />
        </div>
        <div class="links">
          <a href="#">Doctor</a>
          <a href="#">Hospital</a>
          <a href="#">Treatment</a>
          <a href="#">Other-Services</a>
          <a href="#">FAQs</a>
        </div>
      </div>
      <header id="follow">Follow Us</header>

      <div class="social-icons">
        <div class="social-icon-items">
          <a href="#"><img src="/facebook.png" alt="" /></a>
          <a href="#"><img src="/twitter.png" alt="" /></a>
          <a href="#"><img src="/pinterest.png" alt="" /></a>
          <a href="#"><img src="/google-plus.png" alt="" /></a>
          <a href="#"><img src="/youtube.png" alt="" /></a>
        </div>
        <div class="footer">
          <p>All rights reserved &copy; tvstra 2020</p>
        </div>
      </div>
    </section>
  </body>
</html>
