<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Doctors</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/tvstra-plus/plus.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <section class="top-header">
      <div class="top-header-image">
        <h6 class="plustext">PLUS</h6>
        <header class="top-header-content">
          Healthcare plans for you and your family
        </header>
        <p class="paragraph">
          Become a tvstra plus member and save 60% on yearly health expenses
        </p>
      </div>
    </section>
    <section class="plan">
      <div class="plan-wrapper">
        <div class="plan-content">
          <header>Select a Tvstra Healthcare Plan</header>
          <p>all plus plans are for 4 adults and 2 childrens</p>
          <hr />
          <div class="plan-description">
            <div class="basic">
              <header>Basic <br />Plan</header>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on prescription</p>
              <p>20% off on online chekcup and tests</p>
              <div class="bottom">
                <p id="cost">2999/year</p>
                <a href="#">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
            <div class="advance">
              <h6 class="populartext">Popular</h6>
              <header>Advanced Plan</header>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on prescription and medicine</p>
              <p>20% off on online chekcup and tests</p>
              <p>10 free inclinic consultation</p>
              <div class="bottom">
                <p id="cost">3999/year</p>
                <a href="#">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
            <div class="comprehensive">
              <header>Comprehensive Plan</header>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on medicine</p>
              <p>20% off on chekcup and tests</p>
              <p>10 free inclinic consultation</p>
              <p>2 master health checkups</p>
              <div class="bottom">
                <p id="cost"><b>5999/year</b></p>
                <a href="#">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rating">
      <header>Trusted by 2crore plus users every month</header>
      <p>
        Tvstra is leading healthcare company in india. we bagan in 2009 today we
        help 2cr customer every month
      </p>
      <div class="rating-chart">
        <div class="top-rating-part">
          <div class="rating-section">
            <p class="rating_no">4.5</p>
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star-half-alt"></i>
            <p>1000+ ratings</p>
          </div>
          <div class="barchart">
            <div class="left">5</div>
            <div class="right">
              <div class="bar">
                <div class="bar5"></div>
              </div>
            </div>
            <div class="left">4</div>
            <div class="right">
              <div class="bar">
                <div class="bar4"></div>
              </div>
            </div>
            <div class="left">3</div>
            <div class="right">
              <div class="bar">
                <div class="bar3"></div>
              </div>
            </div>
            <div class="left">2</div>
            <div class="right">
              <div class="bar">
                <div class="bar2"></div>
              </div>
            </div>
            <div class="left">1</div>
            <div class="right">
              <div class="bar">
                <div class="bar1"></div>
              </div>
            </div>
          </div>
        </div>
          <div class="user-info">
            <div class="a">
              <i class="fas fa-users fa-2x"></i><br />
              <b>2 cr+</b> <p>customer</p>
            </div>
            <div class="b">
              <i class="fas fa-user-md fa-2x"></i><br />
              <b>100,000+</b>
             <p>varified doctors</p> 
            </div>
            <div class="c">
              <i class="fas fa-capsules fa-2x"></i><br />
              <b>10 lakh+</b>
             <p>medical orders delivered
             </p>
                     </div>
            <div class="d">
              <i class="far fa-calendar-check fa-2x"></i><br />
              <b> 5cr+ </b><p>doctors appointments</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="benefit_plus_title">Benefits of plus membership</div>
    <hr />
    <section class="plus-benefits">    
        <div class="benefit-desc">    

      <header>Zero fees for in clinic consultation</header>
      <p>
        <i class="fas fa-check"></i>
        consult with 30,000 plus top quality doctors at clinic and hospitals at
        plus network
      </p>
      <p>
        <i class="fas fa-check"></i> upto 10 inclinic consultation used by
        family members in 12 months period
      </p>
    </div>
    <div class="hospitals_onboard">
        <header>Top Hospitals Onboarded</header>
        <table>
            <tr>
              <td id="img1"><img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
              /></td>
              <td id="img2"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg
              "
              /></td>
            </tr>
            <tr>
              <td  id="img3"><img
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg
              "
              /></td>
              <td id="img4"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
              /></td>
            </tr>
            <tr>
              <td id="img5"><img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
              /></td>
              <td id="img6"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
              /></td>
            </tr>
          </table>
       
           
        </div>
    </section>
    <section class="more-info">
        <div class="secondFlex">           
            <div class="secondright">
              <header>Unlimited online consultation with top doctors</header>
              <p>
                <i class="fas fa-check"></i> Get all your health queries answered by
                any specialist all the time
              </p>
              <p>
                <i class="fas fa-check"></i> Connect under two minuites on text call
                or video available 24*7
              </p>
              <p>
                <i class="fas fa-check"></i> All online consultation are confidential
                only doctors and patience can access it
              </p>
            </div>
            <div class="secondleft">
                <img src="/doc.JPG" alt="" />
              </div>
          </div>
          <div class="thirdFlex">
            <div class="thirdleft">
              <header>Flat 20% off on prescription medicine, checkups and lab tests</header>
              <p>
                <i class="fas fa-check"></i> Flat 20% off on medicines that require
                prescription and health chekups and labtests
              </p>
              <p>
                <i class="fas fa-check"></i> No question askd no minimum order no
                limiti available in 100+ cities
              </p>
            </div>
            <div class="thirdright">
              <img src="/delivery.JPG" alt="" />
            </div>
          </div>
      
          <div class="fourthflex">
            
            <div class="fourthright">
              <header>2 Free Health checkups</header>
              <p>
                <i class="fas fa-check"></i> Discuss your labtest reports with your
                doctors via online consultations
              </p>
              <p><i class="fas fa-check"></i> Home sample pickups</p>
              <p><i class="fas fa-check"></i> Labs are NABL, CAP accridiated</p>
              <p>
                <i class="fas fa-check"></i> Checkups can be booked anytimes even on
                sundays. tax deduction available
              </p>
            </div>
            <div class="fourthleft">
                <img src="/check.JPG" alt="" />
              </div>
          </div>
    </section>
  </body>
</html>
