<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Doctors</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/tvstra-plus/plus.css" type="text/css" />
  
    <link rel="stylesheet" href="/theme/theme.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <%- include('partials/navbar') %>
    <section class="top-header">
      <div class="top-header-image">
        <h6 class="plustext">PLUS</h6>
        <header class="top-header-content">
          Healthcare plans for you and your family
        </header>
        <p class="paragraph">
          Become a tvstra plus member and save 60% on yearly health expenses
        </p>
      </div>
    </section>
    <section class="plan">
      <div class="plan-wrapper">
        <div class="plan-content">
          <header>Select a Tvstra Healthcare Plan</header>
          <p>all plus plans are for 4 adults and 2 childrens</p>
          <hr />
          <div class="plan-description">
            <div class="basic">
              <h3>Basic Plan</h3>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on prescription</p>
              <p>20% off on online chekcup and tests</p>
              <div class="bottom-plus">
                <p id="cost" ><header>2999/year</header></p>
                <a href="#" class="py-3">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
            <div class="advance">
              <h6 class="populartext">Popular</h6>
              <h3>Advanced Plan</h3>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on prescription and medicine</p>
              <p>20% off on online chekcup and tests</p>
              <p>10 free inclinic consultation</p>
              <div class="bottom-plus">
                <p id="cost"><header>3999/year</header></p>
                <a href="#">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
            <div class="comprehensive">
              <h3>Comprehensive Plan</h3>
              <hr />
              <p>Unlimited consultation with any specialist</p>
              <p>20% off on medicine</p>
              <p>20% off on chekcup and tests</p>
              <p>10 free inclinic consultation</p>
              <p>2 master health checkups</p>
              <div class="bottom-plus">
                <p id="cost"><header>5999/year</header></p>
                <a href="#">View plan details</a>
                <p><button class="btn btn-primary">Buy Plan</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rating">
      <header>Trusted by 2crore plus users every month</header>
      <p>
        Tvstra is leading healthcare company in india. we bagan in 2009 today we
        help 2cr customer every month
      </p>
      <div class="rating-chart">
        <div class="top-rating-part">
          <div class="rating-section">
            <p class="rating_no">4.5</p>
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star-half-alt"></i>
            <p>1000+ ratings</p>
          </div>
          <div class="barchart">
            <div class="left">5</div>
            <div class="right">
              <div class="bar">
                <div class="bar5"></div>
              </div>
            </div>
            <div class="left">4</div>
            <div class="right">
              <div class="bar">
                <div class="bar4"></div>
              </div>
            </div>
            <div class="left">3</div>
            <div class="right">
              <div class="bar">
                <div class="bar3"></div>
              </div>
            </div>
            <div class="left">2</div>
            <div class="right">
              <div class="bar">
                <div class="bar2"></div>
              </div>
            </div>
            <div class="left">1</div>
            <div class="right">
              <div class="bar">
                <div class="bar1"></div>
              </div>
            </div>
          </div>
        </div>
          <div class="user-info">
            <div class="a">
              <i class="fas fa-users fa-2x"></i><br />
              <b>2 cr+</b> <p>customer</p>
            </div>
            <div class="b">
              <i class="fas fa-user-md fa-2x"></i><br />
              <b>100,000+</b>
             <p>varified doctors</p> 
            </div>
            <div class="c">
              <i class="fas fa-capsules fa-2x"></i><br />
              <b>10 lakh+</b>
             <p>medical orders delivered
             </p>
                     </div>
            <div class="d">
              <i class="far fa-calendar-check fa-2x"></i><br />
              <b> 5cr+ </b><p>doctors appointments</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="benefit_plus_title">Benefits of plus membership
    <hr /></div>

    <section class="plus-benefits">    
        <div class="benefit-desc">    

      <h3>Zero fees for in clinic consultation</h3>
      <p>
        <i class="fas fa-check"></i>
       <span>consult with 30,000 plus top quality doctors at clinic and hospitals </span> 
      </p>
      <p>
        <i class="fas fa-check"></i> upto 10 inclinic consultation used by
        family members in 12 months period
      </p>
    </div>
    <div class="hospitals_onboard">
        <h3>Top Hospitals Onboarded</h3>
        <table>
            <tr>
              <td id="img1"><img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
              /></td>
              <td id="img2"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg
              "
              /></td>
            </tr>
            <tr>
              <td  id="img3"><img
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg
              "
              /></td>
              <td id="img4"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
              /></td>
            </tr>
            <tr>
              <td id="img5"><img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
              /></td>
              <td id="img6"> <img 
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
              /></td>
            </tr>
          </table>
       
           
        </div>
    </section>
    <section class="more-info">
        <div class="secondFlex">           
            <div class="secondright">
              <h3>Unlimited online consultation with top doctors</h3>
              <p>
                <i class="fas fa-check"></i><span>Get all your health queries answered by
                  any specialist all the time</span> 
              </p>
              <p>
                <i class="fas fa-check"></i> <span>Connect under two minuites on text call
                  or video available 24*7</span> 
              </p>
              <p>
                <i class="fas fa-check"></i> <span>All online consultation are confidential
                  only doctors and patience can access</span> 
              </p>
            </div>
            <div class="secondleft">
                <img src="/doc.JPG" alt="" />
              </div>
          </div>
          <div class="thirdFlex">
            <div class="thirdleft">
              <h3>Flat 20% off on prescription medicine, checkups and lab tests</h3>
              <p>
                <i class="fas fa-check"></i> <span>Flat 20% off on medicines that require
                  prescription and health chekups and labtests</span> 
              </p>
              <p>
                <i class="fas fa-check"></i> <span>No question askd no minimum order no
                  limiti available in 100+ cities</span> 
              </p>
            </div>
            <div class="thirdright">
              <img src="/delivery.JPG" alt="" />
            </div>
          </div>
      
          <div class="fourthflex">
            
            <div class="fourthright">
              <h3>2 Free Health checkups</h3>
              <p>
                <i class="fas fa-check"></i> <span> Discuss your labtest reports with your
                  doctors via online consultations</span>
              </p>
              <p><i class="fas fa-check"></i> <span> Home sample pickups</span></p>
              <p><i class="fas fa-check"></i> <span>Labs are NABL, CAP accridiated</span> </p>
              <p>
                <i class="fas fa-check"></i> <span>Checkups can be booked anytimes even on
                  sundays.</span> 
              </p>
            </div>
            <div class="fourthleft">
                <img src="/check.JPG" alt="" />
              </div>
          </div>
    </section>

<section class="test-included">
  <p id="title-60-tests">60 tests included</p>
  <div class="test-wrapper">
  <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
    <h3> Vitamin Profile</h3>
   <p>2 tests</p>
  </div>
  <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg
    " alt="">
  <h3>Iron deficiency profile</h3>
  <p>3 tests</p>
  </div>
  <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg
    " alt="">  <h3>Thyroid Profile</h3>
  <p>3 tests</p> </div>
  <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg
    " alt=""><h3>Liver Profile</h3>
  <p>11 tests</p>
  </div>
  </div>
</section>

<section class="feedback">
  <header>Why we love Tvstra <span>PLUS</span></header>
  <div class="feedback-parent">
  <div class="parent">
    <div class="top">
      <h3>"Wonderful experience with Tvstra Plus as it helped me to save lot of money with free consultationn"</h3>
    </div>
    <div class="bottom-content">
      <div class="left-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" style="width: 70px; height: 70px;" alt=""></div>
      <div class="right-content">
        <h2>Rishabh Tiwari</h2>
        <span>Advanced plan user</span>
      </div>
    </div>
  </div>

  <div class="parent">
    <div class="top">
      <h3>"Wonderful experience with Tvstra Plus as it helped me to save lot of money with free consultationn"</h3>
    </div>
    <div class="bottom-content">
      <div class="left-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" style="width: 70px; height: 70px;" alt=""></div>
      <div class="right-content">
        <h2>Rishabh Tiwari</h2>
        <span>Advanced plan user</span>
      </div>
    </div>
  </div>

  <div class="parent">
    <div class="top">
      <h3>"Wonderful experience with Tvstra Plus as it helped me to save lot of money with free consultationn"</h3>
    </div>
    <div class="bottom-content">
      <div class="left-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" style="width: 70px; height: 70px;" alt=""></div>
      <div class="right-content">
        <h2>Rishabh Tiwari</h2>
        <span>Advanced plan user</span>
      </div>
    </div>
  </div>
</div>
</section>
<section class="faq">
  <header>Frequently Asked Questions</header>
  <div class="questions">
  <details>
    <summary id="summary">
      How does free inclinic consultation with doctors and hospitals work</summary>         
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
      pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
      lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
      vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
    </p>
  </details>
  <hr/>
  <details>
    <summary id="summary">Are there any type of doctors not included in tvstra plus network</summary> 
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
      pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
      lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
      vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
    </p>
  </details>
  <hr/>
  <details>
    <summary id="summary">How do online unlimited consultation work</summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
      pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
      lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
      vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
    </p>
  </details>
  <hr/>

  <details>
    <summary id="summary">How does flat 20% off medicine works</summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
      pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
      lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
      vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
    </p>
  </details>
  <hr/>

  <details>
    <summary id="summary">How does 20% off lab test works</summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      quis lacinia risus, a congue nisi. Cras eros nisl, aliquam vitae
      pellentesque a, ultrices ut metus. Aenean tellus nibh, tristique vel
      lacus vitae, suscipit sollicitudin felis. Aenean nec dictum turpis,
      vitae ultrices purus. Nam sed augue vel purus maximus viverra nec in
    </p>
  </details>
  <hr/>

</div>
</section>
<%- include ('footer') %>
  </body>
</html>
