@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.container-fluid {
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

@media (min-width: 300px) {
  .container-fluid {
    padding: 20%;
  }
}

@media (min-width: 576px) {
  .container-fluid {
    padding: 20%;
  }
}

@media (min-width: 767px) {
  .container-fluid {
    padding: 10%;
    background-position: top;
  }
}

.vaccination {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (min-width: 300px) {
  .vaccination {
    padding: 30%;
  }
}

@media (min-width: 576px) {
  .vaccination {
    padding: 15%;
  }
}

.wrapper .description {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.wrapper .description header {
  padding: 10px;
  font-family: nexa-bold;
  font-size: 22px;
  font-weight: bold;
}

.wrapper .description p {
  font-family: nexa-light;
}

.wrapper .description ul {
  padding-left: 15px;
  padding-top: 10px;
}

.wrapper .description ul li {
  padding: 5px;
  list-style-type: disc;
  color: blue;
}

.wrapper .description ul li span {
  color: black;
}

@media (min-width: 300px) {
  .wrapper .footer-section {
    padding: 20px;
    background-color: #00004d;
    text-align: center;
  }
  .wrapper .footer-section .footer-menu img {
    display: inline-block;
  }
  .wrapper .footer-section .footer-menu .links a {
    display: block;
    padding: 5px;
    color: white;
  }
  .wrapper .footer-section .social-icons {
    padding: 10px;
  }
  .wrapper .footer-section .social-icons a {
    padding: 5px;
    color: white;
  }
  .wrapper .footer-section .social-icons img {
    width: 25px;
    height: 25px;
  }
  .wrapper .footer-section .social-icons p {
    color: white;
    padding-top: 10px;
  }
  .wrapper .footer-section header {
    font-family: nexa-bold;
    font-size: 2rem;
    color: white;
  }
}

@media (min-width: 576px) {
  .wrapper .footer-section .footer-menu img {
    float: right;
  }
  .wrapper .footer-section .footer-menu .links a {
    float: left;
    padding-right: 5px;
    padding-top: 35px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .wrapper .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .right-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .right-sidebar span {
    float: right;
  }
  .wrapper .three {
    width: 100%;
  }
  .wrapper .three .more-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .three .more-info .card {
    width: 30rem;
    margin: 10px;
  }
  .wrapper .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .footer-section .footer {
    float: left;
  }
  .wrapper .footer-section .social-icon-items {
    float: right;
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .footer-section .footer {
    float: left;
  }
  .wrapper .footer-section .social-icon-items {
    float: right;
    padding-top: 10px;
  }
}

.wrapper .footer-section #follow {
  display: none;
}

.wrapper .outer-wrapper .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper .outer-wrapper .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .footer-section .footer {
    float: left;
  }
  .wrapper .footer-section .social-icon-items {
    float: right;
    padding-top: 10px;
  }
}

@media (min-width: 1280px) {
  .wrapper .outer-wrapper {
    width: 70%;
  }
  .wrapper .outer-wrapper .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .right-sidebar {
    width: 30%;
  }
  .wrapper .more-info {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 20px;
  }
  .wrapper .more-info .card {
    margin: 10px;
    border-radius: 15px;
  }
  .wrapper .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .footer-section .footer {
    float: left;
  }
  .wrapper .footer-section .social-icon-items {
    float: right;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */