@import "../main/breakpoint";

@import "../font";
@import "../theme/config";

.container-fluid {
  background-image: linear-gradient(to right, skyblue, transparent),
    url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  @include xs {
    padding: 20%;
  }
  @include sm {
    padding: 20%;
  }
  @include md {
    padding: 10%;
    background-position: top;
  }
}
body {
  header {
    font-family: nexa-bold;
    font-size: 1.5rem;
  }
  p {
    font-family: nexa-light;
    font-size: 1rem;
  }
}
.vaccination {
  text-align: center;
  padding: 0rem 1rem;

  img {
    // margin: 0 auto;
    // width: 80%;
    // margin-top: 5%;
    // // background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // text-align: center;
    // @include xs {
    //   padding: 30%;
    // }
    // @include sm {
    //   padding: 15%;
    // }
    max-width: 100%;
    height: auto;
  }
}
.wrapper {
  .description {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    header {
      font-size: 1.3rem;
    }

    p {
      font-family: nexa-light;
    }
    ul {
      padding-left: 15px;
      padding-top: 10px;
      li {
        padding: 5px;
        list-style-type: disc;
        color: blue;
        span {
          color: black;
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .two {
    width: 90%;
    padding: 1rem;
    text-align: center;
    header {
      font-size: 1.2rem;
    }
    i {
      padding: 20px;
      border-radius: 50%;
      border-color: black;
      background-color: $bg-light-blue;
    }
  }
  .right-sidebar {
    .card-title {
      padding-left: 15px;
      font-family: nexa-bold;
    }
    .card-title1 {
      padding-left: 15px;
      font-family: nexa-bold;
    }
    .card-text {
      font-family: nexa-bold;
    }
    span {
      float: right;
      font-family: nexa-light;
    }
    .card-title {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 15%;
      }
    }
    .card-title1 {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 9%;
      }
    }
  }
  .three {
    text-align: center;
    .card {
      margin: 15px;
    }
    .more-info {
      .card-title {
        text-align: left;
        font-family: nexa-bold;
        padding-left: 15px;
        font-size: 1.3rem;
      }
      .card-title {
        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 2px;
          background: $button-blue;
          position: absolute;
          left: 0;
          top: 85%;
        }
      }
    }
  }
  .bottom {
    display: none;
  }
}

@media (min-width: 600px) {
  .vaccination {
    width: 40%;
  }
  .description {
    width: 60%;
  }
  .more-info {
    .card-title {
      text-align: left;
      font-family: nexa-bold;
      padding-left: 15px;
      font-size: 1.3rem;
    }
    .card-title {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 70%;
      }
    }
  }
  .wrapper {
    display: flex;
    padding: 2%;
    header {
      text-align: left;
    }
  }
  .two {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 5%;
    header {
      font-size: 1.2rem;
    }
    i {
      padding: 20px;
      border-radius: 50%;
      border-color: black;
      background-color: skyblue;
    }
  }
  .right-sidebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .card {
      width: 50%;
      margin: 2%;
      height: fit-content;
      border-radius: 10px;
    }
    .card-title {
      padding-left: 15px;
      font-family: nexa-bold;
    }
    .card-title1 {
      padding-left: 15px;
      font-family: nexa-bold;
    }
    .card-text {
      font-family: nexa-bold;
    }
    span {
      float: right;
      font-family: nexa-light;
    }
    .card-title {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 15%;
      }
    }
    .card-title1 {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 9%;
      }
    }
  }
  .three {
    background-color: $bg-light-blue;
    padding: 2%;
    header {
      padding-left: 20px;
      font-family: nexa-bold;
      color: white;
    }
  }
  .more-info {
    display: flex;
    justify-content: space-between;
    margin: 2%;

    .card {
      margin: 1%;
    }
  }
  .bottom {
    display: none;
  }
}
@media (min-width: 1200px) {
  .more-info {
    .card-title {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: $button-blue;
        position: absolute;
        left: 0;
        top: 85%;
      }
    }
  }
  .container-fluid {
    width: 95%;
  }
  .bottom {
    display: none !important;
  }
  .one {
    width: 100%;
    padding: 0 5%;
    display: flex;
  }

  .right-sidebar {
    display: flex;
    flex-direction: column;
    .card {
      width: 80%;
    }
  }
  .two {
    padding-bottom: 3%;
  }
  .three {
    margin: 2%;
  }
  .footer-section {
    margin: 0 3%;
  }
}
