@import "../main/breakpoint";

@import "../font";

.container-fluid {
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  @include xs {
    padding: 20%;
  }
  @include sm {
    padding: 20%;
  }
  @include md {
    padding: 10%;
    background-position: top;
  }
}

.vaccination {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  @include xs {
    padding: 30%;
  }
  @include sm {
    padding: 15%;
  }
}

.wrapper {
  .description {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    header {
      padding: 10px;
      font-family: nexa-bold;
      font-size: 22px;
      font-weight: bold;
    }

    p {
      font-family: nexa-light;
    }
    ul {
      padding-left: 15px;
      padding-top: 10px;
      li {
        padding: 5px;
        list-style-type: disc;
        color: blue;
        span {
          color: black;
        }
      }
    }
  }

  @media (max-width: 599px) {
  }

  //   @include sm {
  //     width: 80%;
  //     margin: 0 auto;
  //     display: flex;

  //     padding: 5px;
  //     .vaccination {
  //       width: 30%;
  //       margin-right: 10px;
  //     }
  //   }
  //   @include md {
  //     .description {
  //       padding: 4%;
  //     }
  //   }
  // }
  // @include xs {
  //   .right-sidebar {
  //     .card {
  //       width: 100%;
  //       margin: 0 auto;
  //       span {
  //         float: right;
  //       }
  //     }
  //   }
  // }
  // @include md {
  //   .right-sidebar {
  //     padding: 4%;
  //     p {
  //       padding: 5px;
  //     }
  //     span {
  //       float: right;
  //     }
  //     .card-title {
  //       font-weight: bold;
  //     }
  //     .card {
  //       padding-top: 5px;
  //     }
  //   }
  // }

  // @include xs {
  //   .two {
  //     text-align: center;
  //     padding: 20px;
  //     i {
  //       padding: 20px;
  //       border-radius: 50%;
  //       border-color: black;
  //       background-color: skyblue;
  //     }
  //     div {
  //       padding: 10px;
  //     }
  //   }
  // }

  // @include xs {
  //   .three {
  //     margin-top: 5%;
  //     padding-top: 5%;
  //     background-color: skyblue;
  //     header {
  //       text-align: center;
  //       font-family: nexa-bold;
  //       font-weight: bold;
  //     }
  //     .more-info {
  //       width: 70%;
  //       margin: 0 auto;
  //     }
  //   }
  // }

  // footer menu
  .footer-section {
    @include xs {
      padding: 20px;
      background-color: #00004d;
      text-align: center;
      .footer-menu {
        img {
          display: inline-block;
        }
        .links a {
          display: block;
          padding: 5px;
          color: white;
        }
      }
      .social-icons {
        padding: 10px;
        a {
          padding: 5px;
          color: white;
        }
        img {
          width: 25px;
          height: 25px;
        }
        p {
          color: white;
          padding-top: 10px;
        }
      }

      header {
        font-family: nexa-bold;
        font-size: 2rem;
        color: white;
      }
    }
    .footer-menu {
      @include sm {
        img {
          float: right;
        }
        .links a {
          float: left;
          padding-right: 5px;
          padding-top: 35px;
        }
      }
    }
  }

  //tablet section
  @media (min-width: 481px) and (max-width: 767px) {
    .one {
      display: flex;
    }
    .two {
      display: flex;
      flex-direction: row;
    }
    .right-sidebar {
      display: flex;
      flex-direction: row;
      span {
        float: right;
      }
    }
    .three {
      width: 100%;

      .more-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        .card {
          width: 30rem;
          margin: 10px;
        }
      }
    }
    .footer-section {
      display: flex;
      flex-direction: column;
      .footer {
        float: left;
      }
      .social-icon-items {
        float: right;
        padding-top: 10px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .footer-section {
      display: flex;
      flex-direction: column;
      .footer {
        float: left;
      }
      .social-icon-items {
        float: right;
        padding-top: 10px;
      }
    }
  }
  .footer-section {
    #follow {
      display: none;
    }
  }
  .outer-wrapper {
    .two {
      display: flex;
      flex-direction: row;
    }
  }
  .one {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    .outer-wrapper {
      .two {
        display: flex;
        flex-direction: row;
      }
    }
    .one {
      display: flex;
      flex-direction: row;
    }
    .footer-section {
      display: flex;
      flex-direction: column;
      .footer {
        float: left;
      }
      .social-icon-items {
        float: right;
        padding-top: 10px;
      }
    }
  }
  @media (min-width: 1280px) {
    .outer-wrapper {
      width: 70%;
      .two {
        display: flex;
        flex-direction: row;
      }
    }
    .one {
      display: flex;
      flex-direction: row;
    }
    .right-sidebar {
      width: 30%;
    }
    .more-info {
      width: 90%;
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
      .card {
        margin: 10px;
        border-radius: 15px;
      }
    }

    .footer-section {
      display: flex;
      flex-direction: column;
      .footer {
        float: left;
      }
      .social-icon-items {
        float: right;
        padding-top: 10px;
      }
    }
  }
}
