@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

header {
  font-family: nexa-bold;
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  header {
    font-size: 1.8rem !important;
  }
}

p {
  font-family: nexa-light;
  font-size: 1.1rem;
  line-height: 1.4;
}

h2 {
  font-family: nexa-bold;
  font-size: 1.4rem;
  color: #0066cc;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

input {
  font-family: nexa-light;
}

h1 {
  font-family: nexa-bold;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

input {
  font-family: nexa-light;
}

h3 {
  font-family: nexa-bold;
  font-size: 1.3rem;
  line-height: 1.3;
}

.container-fluid {
  background-image: -webkit-gradient(linear, left top, right top, from(skyblue), to(transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  background-image: linear-gradient(to right, skyblue, transparent), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

@media (min-width: 300px) {
  .container-fluid {
    padding: 20%;
  }
}

@media (min-width: 576px) {
  .container-fluid {
    padding: 20%;
  }
}

@media (min-width: 767px) {
  .container-fluid {
    padding: 10%;
    background-position: top;
  }
}

body header {
  font-family: nexa-bold;
  font-size: 1.5rem;
}

body p {
  font-family: nexa-light;
  font-size: 1rem;
}

.vaccination {
  text-align: center;
  padding: 0rem 1rem;
}

.vaccination img {
  max-width: 100%;
  height: auto;
}

.wrapper .description {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.wrapper .description header {
  font-size: 1.3rem;
}

.wrapper .description p {
  font-family: nexa-light;
}

.wrapper .description ul {
  padding-left: 15px;
  padding-top: 10px;
}

.wrapper .description ul li {
  padding: 5px;
  list-style-type: disc;
  color: blue;
}

.wrapper .description ul li span {
  color: black;
}

@media (max-width: 599px) {
  .two {
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
  .two header {
    font-size: 1.2rem;
  }
  .two i {
    padding: 20px;
    border-radius: 50%;
    border-color: black;
    background-color: #99ccff;
  }
  .right-sidebar .card-title {
    padding-left: 15px;
    font-family: nexa-bold;
  }
  .right-sidebar .card-title1 {
    padding-left: 15px;
    font-family: nexa-bold;
  }
  .right-sidebar .card-text {
    font-family: nexa-bold;
  }
  .right-sidebar span {
    float: right;
    font-family: nexa-light;
  }
  .right-sidebar .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 15%;
  }
  .right-sidebar .card-title1::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 9%;
  }
  .three {
    text-align: center;
  }
  .three .card {
    margin: 15px;
  }
  .three .more-info .card-title {
    text-align: left;
    font-family: nexa-bold;
    padding-left: 15px;
    font-size: 1.3rem;
  }
  .three .more-info .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 85%;
  }
  .bottom {
    display: none;
  }
}

@media (min-width: 600px) {
  .vaccination {
    width: 40%;
  }
  .description {
    width: 60%;
  }
  .more-info .card-title {
    text-align: left;
    font-family: nexa-bold;
    padding-left: 15px;
    font-size: 1.3rem;
  }
  .more-info .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 70%;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2%;
  }
  .wrapper header {
    text-align: left;
  }
  .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding: 0 5%;
  }
  .two header {
    font-size: 1.2rem;
  }
  .two i {
    padding: 20px;
    border-radius: 50%;
    border-color: black;
    background-color: skyblue;
  }
  .right-sidebar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .right-sidebar .card {
    width: 50%;
    margin: 2%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
  }
  .right-sidebar .card-title {
    padding-left: 15px;
    font-family: nexa-bold;
  }
  .right-sidebar .card-title1 {
    padding-left: 15px;
    font-family: nexa-bold;
  }
  .right-sidebar .card-text {
    font-family: nexa-bold;
  }
  .right-sidebar span {
    float: right;
    font-family: nexa-light;
  }
  .right-sidebar .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 15%;
  }
  .right-sidebar .card-title1::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 9%;
  }
  .three {
    background-color: #99ccff;
    padding: 2%;
  }
  .three header {
    padding-left: 20px;
    font-family: nexa-bold;
    color: white;
  }
  .more-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2%;
  }
  .more-info .card {
    margin: 1%;
  }
  .bottom {
    display: none;
  }
}

@media (min-width: 1200px) {
  .more-info .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 85%;
  }
  .container-fluid {
    width: 95%;
  }
  .bottom {
    display: none !important;
  }
  .one {
    width: 100%;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-sidebar .card {
    width: 80%;
  }
  .two {
    padding-bottom: 3%;
  }
  .three {
    margin: 2%;
  }
  .footer-section {
    margin: 0 3%;
  }
}
/*# sourceMappingURL=main.css.map */