@import "../theme/config";

.left {
  @include xs {
    display: none;
  }
  @include sm {
    display: block;
  }
  @include md {
    display: block;
  }
}
.doc-wrapper {
  #btn {
    background-color: $bg-dark-blue;
  }
  .card-text {
    span {
      color: $bg-black;
    }
    i {
      color: $button-blue;
    }
  }

  .card-body {
    position: relative;
    color: $button-blue;
    max-width: 600px;
  }
  .card-title {
    font-family: nexa-bold;
    padding-left: 1.5rem;
    color: $button-blue;
  }

  .card-title {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: $button-blue;
      position: absolute;
      left: 0;
      top: 15%;
    }
  }
  .btn {
    background-color: $bg-dark-blue;
  }

  @include xs {
    text-align: center;
    .doc-list {
      display: inline-block;
      .card-body {
        text-align: left;

        p {
          padding: 5px;

          i {
            padding-right: 10px;
          }
        }
        .btn {
          width: 17.5rem;
        }
      }
    }
    .card {
      width: 20rem;
      .card-img-top {
        height: 20rem;
      }
    }
  }
}

.card-body {
  h5 {
    font-family: nexa-light;
    font-size: 1.5rem;
    // color: $bg-light-blue;
    padding-top: 8px;
  }
  p {
    font-family: nexa-light;
    font-size: 1rem;
  }
  i {
    color: skyblue;
  }
}

// styles for tabs
.main {
  display: flex;
  flex-direction: row;
  .left {
    width: 35%;
  }
  .doc-wrapper {
    width: 65%;
  }
}
.doc-wrapper {
  @include sm {
    .card {
      width: 25rem;
      display: flex;
      flex-direction: row;
      .card-body {
        width: 40%;
      }
      .card-img-top {
        width: 8rem;
        height: 12rem;
      }
    }
  }
}

.doc-list {
  @include lg {
    display: flex;
    .card {
      width: 100%;
      .btn {
        width: 20rem;
      }
    }
    .info-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include lg {
  .navbar {
    margin: 0 6rem;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}

@include sm {
  .main {
    padding-top: 5%;
  }
}
@media (min-width: 600px) {
  .sort-section {
    padding: 4%;
  }
  .left {
    padding-left: 5%;
    padding-right: 3%;
  }
}
@media (max-width: 599px) {
  .sort-section {
    padding: 10%;
  }
  .doc-list {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .left {
    padding-left: 5%;
    h5 {
      margin-top: 10px;
      padding: 10px;
      background-color: $bg-light-grey;
    }
  }
  .sort-section {
    padding: 3% 6%;
    font-family: nexa-bold;
    font-size: 1.5rem;
    color: grey;
  }
}

.doc-wrapper {
  .card-body {
    .card-text,
    span {
      font-family: nexa-light;
    }
  }
}
