@import "../theme/config";
@import "../font";
body {
  overflow-x: hidden;
}

.left {
  @include xs {
    display: none;
  }
  @include sm {
    display: block;
  }
  @include md {
    display: block;
  }
}
@include xs {
  .main {
    width: 100%;
  }
}
.doc-wrapper {
  #btn {
    background-color: $bg-dark-blue;
  }
  .card-text {
    span {
      color: $bg-black;
    }
    i {
      color: $button-blue;
    }
  }

  .card-body {
    position: relative;
    color: $button-blue;
    max-width: 600px;
  }
  .card-title {
    font-family: nexa-bold;
    padding-left: 1.5rem;
    color: $button-blue;
  }

  .card-title {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: $button-blue;
      position: absolute;
      left: 0;
      top: 17%;
    }
  }
  .btn {
    background-color: $bg-dark-blue;
  }

  @include xs {
    text-align: center;
    .doc-list {
      width: 100%;
      display: inline-block;
      .card-body {
        text-align: left;

        p {
          padding: 5px;

          i {
            padding-right: 10px;
          }
        }
        .btn {
          width: 17.5rem;
        }
      }
    }
    .card {
      width: 90%;
      margin: 0 auto;
      .card-img-top {
        height: 20rem;
      }
    }
  }
}

.card-body {
  h5 {
    font-family: nexa-light;
    font-size: 1.5rem;
    // color: $bg-light-blue;
    padding-top: 8px;
  }
  p {
    font-family: nexa-light;
    font-size: 1rem;
  }
  i {
    color: skyblue;
  }
}
@include sm {
  // styles for tabs
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    .left {
      width: 37%;
    }
    .doc-wrapper {
      width: 63%;
    }
  }
}
.doc-wrapper {
  .doc-list {
    @include sm {
      width: 100%;
      .card {
        width: 95%;
        display: flex;
        flex-direction: row;
        .card-body {
          width: 40%;
        }
        .card-img-top {
          width: 8rem;
          height: 12rem;
        }
        .btn {
          width: 80%;
        }
      }
    }
  }
}

.doc-list {
  width: 100%;
  @include lg {
    display: flex;
    .card {
      width: 100%;
      .btn {
        width: 20rem;
      }
    }
    .info-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include sm {
  .main {
    padding-top: 1%;
  }
}
@media (min-width: 600px) {
  .sort-section {
    padding: 4%;
  }
  .left {
    padding-left: 3%;
    padding-right: 3%;
    h5 {
      margin-top: 10px;
      padding: 10px;
      background-color: $bg-light-grey;
      margin: 10px;
    }
    p {
      margin: 10px;
    }
  }
}
@media (max-width: 599px) {
  .sort-section {
    padding: 10%;
  }
  .doc-list {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  #bookappointment {
    width: 40%;
    border: 0px;
  }
  .doc-list {
    width: 90%;
  }

  .left {
    // padding-left: 5%;
    h5 {
      margin-top: 10px;
      padding: 10px;
      background-color: $bg-light-grey;
    }
  }
  .sort-section {
    padding: 3% 6%;
    font-family: nexa-bold;
    font-size: 1.5rem;
    color: grey;
  }
  .main {
    padding: 2% 2.8%;
  }
}

@include md {
  .card-title {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: $button-blue;
      position: absolute;
      left: 0;
      top: 19% !important;
    }
  }
}

.doc-wrapper {
  .card-body {
    .card-text,
    span {
      font-family: nexa-light;
    }
  }
}
