@import "../main/breakpoint";
@import "../theme/config";
@import "../font";

.sort-section {
  padding: 10px;
  h4 {
    float: left;
  }
  #dropdownMenuButton {
    float: right;
  }
}

.top-container-wrapper {
  background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png)
    no-repeat;
  background-size: cover;
  background-position: center;

  @include xs {
    header {
      display: none;
    }
  }
  @include sm {
    header {
      display: block;
      padding: 5rem 1rem;
    }
  }

  @include md {
    header {
      padding: 7rem 5rem;
    }
  }
}

.color-bg {
  background-color: skyblue;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
}
.form-check {
  input,
  label {
    padding: 5px;
  }
}
