.sort-section {
  padding: 10px;
}

.sort-section h4 {
  float: left;
}

.sort-section #dropdownMenuButton {
  float: right;
}

@media (min-width: 300px) {
  .container-fluid header {
    display: none;
  }
}

@media (min-width: 576px) {
  .container-fluid header {
    font-size: 1.5rem;
    font-family: nexa-bold;
    display: block;
    background-color: skyblue;
    padding: 5rem;
  }
}

@media (min-width: 767px) {
  .container-fluid header {
    font-size: 2rem;
    font-family: nexa-bold;
    display: block;
    background-color: skyblue;
    padding: 5rem;
  }
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

@media (min-width: 300px) {
  .left {
    display: none;
  }
}

@media (min-width: 576px) {
  .left {
    display: block;
  }
}

@media (min-width: 767px) {
  .left {
    display: block;
  }
}

.doc-wrapper #btn {
  background-color: #000033;
}

.doc-wrapper .card-text span {
  color: black;
}

.doc-wrapper .card-text i {
  color: #0066cc;
}

.doc-wrapper .card-body {
  position: relative;
  color: #0066cc;
  max-width: 600px;
}

.doc-wrapper .card-title {
  font-family: nexa-bold;
  padding-left: 1.5rem;
  color: #0066cc;
}

.doc-wrapper .card-title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #0066cc;
  position: absolute;
  left: 0;
  top: 15%;
}

.doc-wrapper .btn {
  background-color: #000033;
}

@media (min-width: 300px) {
  .doc-wrapper {
    text-align: center;
  }
  .doc-wrapper .doc-list {
    display: inline-block;
  }
  .doc-wrapper .doc-list .card-body {
    text-align: left;
  }
  .doc-wrapper .doc-list .card-body p {
    padding: 5px;
  }
  .doc-wrapper .doc-list .card-body p i {
    padding-right: 10px;
  }
  .doc-wrapper .doc-list .card-body .btn {
    width: 17.5rem;
  }
  .doc-wrapper .card {
    width: 20rem;
  }
  .doc-wrapper .card .card-img-top {
    height: 20rem;
  }
}

.card-body h5 {
  font-family: nexa-light;
  font-size: 1.5rem;
  padding-top: 8px;
}

.card-body p {
  font-family: nexa-light;
  font-size: 1rem;
}

.card-body i {
  color: skyblue;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .left {
  width: 35%;
}

.main .doc-wrapper {
  width: 65%;
}

@media (min-width: 576px) {
  .doc-wrapper .card {
    width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .doc-wrapper .card .card-body {
    width: 40%;
  }
  .doc-wrapper .card .card-img-top {
    width: 8rem;
    height: 12rem;
  }
}

@media (min-width: 992px) {
  .doc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .doc-list .card {
    width: 100%;
  }
  .doc-list .card .btn {
    width: 20rem;
  }
  .doc-list .info-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .navbar {
    margin: 0 6rem;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .main {
    padding-top: 5%;
  }
}

@media (min-width: 600px) {
  .sort-section {
    padding: 4%;
  }
  .left {
    padding-left: 5%;
    padding-right: 3%;
  }
}

@media (max-width: 599px) {
  .sort-section {
    padding: 10%;
  }
  .doc-list {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .left {
    padding-left: 5%;
  }
  .left h5 {
    margin-top: 10px;
    padding: 10px;
    background-color: #e0e0e0;
  }
  .sort-section {
    padding: 3% 6%;
    font-family: nexa-bold;
    font-size: 1.5rem;
    color: grey;
  }
}

.doc-wrapper .card-body .card-text,
.doc-wrapper .card-body span {
  font-family: nexa-light;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.nav-parent {
  text-align: center;
}
/*# sourceMappingURL=doctors.css.map */