@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

header {
  font-family: nexa-bold;
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  header {
    font-size: 1.8rem !important;
  }
}

p {
  font-family: nexa-light;
  font-size: 1.1rem;
  line-height: 1.4;
}

h2 {
  font-family: nexa-bold;
  font-size: 1.4rem;
  color: #0066cc;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

input {
  font-family: nexa-light;
}

label {
  font-family: nexa-light;
}

h1 {
  font-family: nexa-bold;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

input {
  font-family: nexa-light;
}

h3 {
  font-family: nexa-bold;
  font-size: 1.3rem;
  line-height: 1.3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.sort-section {
  padding: 10px;
}

.sort-section h4 {
  float: left;
}

.sort-section #dropdownMenuButton {
  float: right;
}

.top-container-wrapper {
  background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 300px) {
  .top-container-wrapper header {
    display: none;
  }
}

@media (min-width: 576px) {
  .top-container-wrapper header {
    display: block;
    padding: 5rem 1rem;
  }
}

@media (min-width: 767px) {
  .top-container-wrapper header {
    padding: 7rem 5rem;
  }
}

.color-bg {
  background-color: skyblue;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
}

.form-check input,
.form-check label {
  padding: 5px;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

header {
  font-family: nexa-bold;
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  header {
    font-size: 1.8rem !important;
  }
}

p {
  font-family: nexa-light;
  font-size: 1.1rem;
  line-height: 1.4;
}

h2 {
  font-family: nexa-bold;
  font-size: 1.4rem;
  color: #0066cc;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

input {
  font-family: nexa-light;
}

label {
  font-family: nexa-light;
}

h1 {
  font-family: nexa-bold;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

input {
  font-family: nexa-light;
}

h3 {
  font-family: nexa-bold;
  font-size: 1.3rem;
  line-height: 1.3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

@media (min-width: 300px) {
  .left {
    display: none;
  }
}

@media (min-width: 576px) {
  .left {
    display: block;
  }
}

@media (min-width: 767px) {
  .left {
    display: block;
  }
}

.card {
  position: relative;
}

.card i {
  color: #0066cc;
  margin-right: 10px;
}

.card .card-title {
  padding-left: 12px;
}

.card .card-title::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #0066cc;
  position: absolute;
  left: 0;
  top: 7.5%;
}

@media (max-width: 599px) {
  .main {
    width: 100%;
  }
  .main .doc-wrapper {
    margin-top: 8%;
  }
  .main .doc-wrapper .doc-list {
    width: 90%;
    margin: 0 auto;
  }
  .main .doc-wrapper .doc-list img {
    max-height: 300px;
    margin: 0 auto;
  }
  .main .doc-wrapper .doc-list .button-div {
    text-align: center;
  }
  .main .doc-wrapper .doc-list .button-div button {
    width: 70%;
  }
  .main .doc-wrapper .doc-list .card i {
    color: #0066cc;
    margin-right: 10px;
  }
}

.sort-section h4 {
  font-family: nexa-light;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
    padding: 20px;
  }
  .main .left {
    padding-right: 10px;
  }
  .main .left p {
    padding-left: 10px;
  }
  .main .left h5 {
    padding: 10px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
  }
  .main .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .card .card-img-top {
    max-width: 200px;
  }
  .main .card .card-title {
    padding-left: 12px;
  }
  .main .card .card-title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 0;
    top: 15%;
  }
  .main .card .info-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 200px;
  }
  .main {
    width: 100%;
    padding: 25px;
  }
  .main .left {
    width: 30%;
    padding-left: 25px;
  }
  .main .doc-wrapper-parent {
    width: 70%;
  }
  .main_wrapper__doc_list {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.nav-parent {
  text-align: center;
}
/*# sourceMappingURL=doctors.css.map */