.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.doc__header {
  background-color: #99ccff;
}

@media (min-width: 300px) {
  .doc__header {
    padding: 20%;
  }
}

@media (min-width: 767px) {
  .doc__header {
    padding: 10%;
  }
}

.wrapper {
  padding: 10px;
}

.outer {
  border: 1px dashed;
  overflow: hidden;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

.outer summary {
  color: #66b2ff;
}

@media (max-width: 599px) {
  .doc__header {
    width: 95%;
    margin: 0 auto;
  }
  .doc__header header {
    font-family: nexa-bold;
    line-height: 1.6;
    color: white;
    font-size: 1.5rem;
  }
  .doc__header p {
    font-family: nexa-light;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .doc__image {
    text-align: center;
  }
  .outer .btn-dark {
    width: 100%;
  }
  .outer img {
    max-width: 400px;
  }
  .section1 {
    padding-top: 15px;
  }
  .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    padding-left: 10%;
    color: skyblue;
  }
  .section1 p {
    padding-top: 10px;
    font-family: nexa-light;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    padding-left: 5%;
    color: skyblue;
  }
  .outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .outer .pic {
    width: 30%;
  }
  .outer .pic img {
    max-width: 200px;
  }
  .outer .pic .btn-dark {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    padding-left: 10%;
    color: skyblue;
  }
  .wrapper {
    padding: 5%;
  }
  .wrapper .outer {
    padding: 20px;
  }
}
/*# sourceMappingURL=docprofile.css.map */