@import "../main/breakpoint";
@import "../theme//config";

@import "../font";
.doc__header {
  background-color: $bg-light-blue;

  @include xs {
    padding: 20%;
  }
  @include md {
    padding: 10%;
  }
}
.wrapper {
  padding: 10px;
}
.outer {
  border: 1px dashed;
  overflow: hidden;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  summary {
    color: #66b2ff;
  }
}
@media (max-width: 599px) {
  .doc__header {
    width: 95%;
    margin: 0 auto;
    header {
      font-family: nexa-bold;
      line-height: 1.6;
      color: white;
      font-size: 1.5rem;
    }
    p {
      font-family: nexa-light;
      font-size: 1rem;
      text-align: center;
      color: white;
    }
  }
  .doc__image {
    text-align: center;
  }
  .outer {
    .btn-dark {
      width: 100%;
    }
    img {
      max-width: 400px;
    }
  }
  .section1 {
    padding-top: 15px;
    header {
      font-family: nexa-bold;
      font-size: 2rem;
      padding-left: 10%;
      color: skyblue;
    }
    p {
      padding-top: 10px;
      font-family: nexa-light;
      font-size: 1rem;
      text-align: center;
    }
  }
}
@media (min-width: 600px) {
  .section1 {
    header {
      font-family: nexa-bold;
      font-size: 2rem;
      padding-left: 5%;
      color: skyblue;
    }
  }
  .outer {
    display: flex;
    flex-direction: row-reverse;
    .pic {
      width: 30%;
      img {
        max-width: 200px;
      }
      .btn-dark {
        width: 100%;
      }
    }
  }
}
@media (min-width: 1200px) {
  .section1 {
    header {
      font-family: nexa-bold;
      font-size: 2rem;
      padding-left: 10%;
      color: skyblue;
    }
  }
  .wrapper {
    padding: 5%;
    .outer {
      padding: 20px;
    }
  }
}
