@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

header {
  font-family: nexa-bold;
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  header {
    font-size: 2rem !important;
  }
}

p {
  font-family: nexa-light;
  font-size: 1.1rem;
  line-height: 1.4;
}

h2 {
  font-family: nexa-bold;
  font-size: 1.4rem;
  color: #0066cc;
  padding: 1rem 0rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

input {
  font-family: nexa-light;
}

h1 {
  font-family: nexa-bold;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

input {
  font-family: nexa-light;
}

h3 {
  font-family: nexa-bold;
  font-size: 1.3rem;
}

@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}

@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

.doc__header {
  background-color: #99ccff;
  width: 100%;
}

@media (min-width: 300px) {
  .doc__header {
    padding: 20% 10%;
    text-align: center;
  }
}

.wrapper {
  padding: 10px;
}

.outer {
  border: 0.5px dashed;
  overflow: hidden;
  margin: 0 auto;
}

.outer summary {
  color: #66b2ff;
}

@media (max-width: 599px) {
  .section1 h1 {
    font-family: nexa-bold;
    color: #0066cc;
    font-size: 1.5rem;
  }
  .section1 h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 10;
    top: 85%;
  }
  .doc__header {
    width: 95%;
    margin: 0 auto;
  }
  .doc__header header {
    font-family: nexa-bold;
    line-height: 1.4;
    color: white;
    font-size: 1.5rem;
  }
  .doc__header p {
    font-family: nexa-light;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .doc__image {
    text-align: center;
  }
  .outer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .outer .btn-dark {
    width: 90%;
  }
  .outer img {
    max-width: 300px;
    padding: 15px;
  }
  .outer .section1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .outer .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    color: #0066cc;
  }
  .outer .section1 header::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 10;
    top: 110%;
  }
  .outer .section1 summary {
    text-align: left;
    padding-left: 5%;
    color: #0066cc;
  }
  .outer p {
    font-family: nexa-light;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    background-color: #e0f1f3;
  }
}

@media (min-width: 600px) {
  .section1 h1 {
    font-family: nexa-bold;
    color: #0066cc;
    font-size: 1.5rem;
    padding-left: 25px;
  }
  .section1 h1::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 1.5%;
    top: 73%;
  }
  .doc__header {
    padding: 7%;
    width: 100%;
    margin: 0 auto;
  }
  .doc__header header {
    font-family: nexa-bold;
    line-height: 1.4;
    color: white;
    font-size: 1.5rem;
  }
  .doc__header p {
    font-family: nexa-light;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .section1 {
    padding: 10px;
  }
  .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    color: #0066cc;
    padding-left: 25px;
  }
  .section1 header::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 1.5%;
    top: 78%;
  }
  .section1 summary {
    color: #0066cc;
    font-family: nexa-light;
    padding-left: 15px;
  }
  .section1 p {
    background-color: #e0f1f3;
    padding: 10px;
  }
  .outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .outer .pic {
    width: 30%;
  }
  .outer .pic img {
    max-width: 200px;
  }
  .outer .pic .btn-dark {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .doc__header {
    text-align: left;
  }
  .doc__header p {
    text-align: left;
  }
  .section1 h1 {
    font-family: nexa-bold;
    color: #0066cc;
    font-size: 1.5rem;
  }
  .section1 h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 5%;
    top: 72%;
  }
  .section1 header {
    font-family: nexa-bold;
    font-size: 2rem;
    padding-left: 2%;
    color: #0066cc;
  }
  .section1 header::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0066cc;
    position: absolute;
    left: 5%;
    top: 77%;
  }
  .wrapper {
    padding: 5%;
  }
  .wrapper .outer {
    padding: 20px;
  }
}
/*# sourceMappingURL=docprofile.css.map */