@import "../main/breakpoint";
@import "../theme/config";
@import "../font";

header {
  font-family: nexa-bold;
}
p {
  font-family: nexa-light;
}

.top-header-image {
  background: url(/tvstraplus.JPG) no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 25rem;
  padding-top: 10%;
}
.plan {
  background: linear-gradient(to bottom, skyblue, white);
  width: 100%;
}

.plan-wrapper {
  background-color: white;

  width: 90%;
  position: absolute;
  top: 90%;
  left: 5%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
  width: 15%;
  margin-top: 10px;
}

.right {
  width: 85%;
  float: right;
  margin-top: -20px;
}

.bar5 {
  width: 70%;
  height: 18px;
  background-color: rgb(76, 92, 182);
  border-radius: 5px;
}
.bar4 {
  width: 60%;
  height: 18px;
  background-color: rgb(76, 92, 182);
  border-radius: 5px;
}
.bar3 {
  width: 50%;
  height: 18px;
  background-color: rgb(76, 92, 182);
  border-radius: 5px;
}
.bar2 {
  width: 30%;
  height: 18px;
  background-color: rgb(76, 92, 182);
  border-radius: 5px;
}
.bar1 {
  width: 5%;
  height: 18px;
  background-color: rgb(76, 92, 182);
  border-radius: 5px;
}
.bottom {
  display: none !important;
}

@media (max-width: 599px) {
  .test-wrapper {
    header {
      font-size: 1rem;
    }
    p {
      font-size: 0.85rem;
    }
    width: 95%;
    margin: 0 auto;
    img {
      width: 50px;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    div {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      padding: 40px 20px;
      background-color: $white;
    }
  }
  .plan-wrapper {
    top: 45%;
  }
  .plan-wrapper {
    padding: 10%;
  }
  .more-info {
    padding: 10px;
    img {
      width: 100%;
      max-width: 400px;
    }
    i {
      border: 1px;
      padding: 5px;
      border-radius: 50%;
      background: skyblue;
      color: white;
    }
    header {
      text-align: center;
    }
  }

  .plan {
    height: 80rem;
  }
  .top-header-image {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    padding: 10px;
    line-height: 1.5;
  }
  .plustext {
    border-radius: 5px;
    padding: 10px;
    background-color: #0a04b7;
    width: 15%;
    margin: 0 auto;
    color: white;
  }
  header {
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
  }
  .bottom-plus {
    padding-top: 10%;
    #cost {
      font-weight: bolder;
      font-family: nexa-bold;
      font-size: 1.5rem;
    }
  }

  .advance {
    margin-top: 10%;
    background: linear-gradient(to bottom, skyblue, white);
    padding-top: 10%;
    .populartext {
      padding: 10px;
      background-color: green;
      width: 20%;
      border-radius: 5px;
      color: white;
      margin: 0 auto;
      position: absolute;
      left: 40%;
      top: 39%;
    }
  }
  .comprehensive {
    margin-top: 10%;
  }
  .rating {
    text-align: center;
    padding: 5%;
  }
  .rating_no {
    font-size: 3rem;
    font-weight: bolder;
  }
  .top-rating-part {
    color: #2251a4;
  }
  .bar {
    width: 100%;
  }
  .barchart {
    padding-left: 15%;
  }
  .user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10%;
    i,
    b {
      padding: 5px;
    }
    .a,
    .b,
    .c,
    .d {
      padding-top: 5px;
    }
    b {
      font-size: 1.5rem;
    }
  }
  .plus-benefits {
    padding: 5%;
    // p {
    //   text-align: left;
    //   padding-left: 10px;
    // }
    hr {
      border: 5px solid skyblue;
      width: 80%;
    }
    i {
      border: 1px;
      padding: 5px;
      border-radius: 50%;
      background: skyblue;
      color: white;
      margin: 5px;
      float: left;
    }

    header {
      text-align: center;
    }
  }
  .more-info {
    padding: 5%;
    i {
      float: left;
    }
    span {
      padding: 5px;
    }
  }
  .rating-chart {
    color: #304f86;
  }
  .benefit_plus_title {
    font-family: nexa-light;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
    hr {
      border: 6px solid skyblue;
      width: 70%;
      margin: 10px auto;
    }
  }
  .test-included {
    p {
      text-align: center;
    }
  }
  .feedback {
    padding: 5%;
    padding-top: 10%;
    header {
      text-align: center;
      margin-bottom: 10px;
      span {
        padding: 5px;
        background-color: $bg-light-blue;
        border-radius: 10px;
      }
    }
    .parent {
      margin: 5% auto;
      width: 100%;
      padding: 7% 5%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .bottom-content {
        padding-top: 10px;
        width: 100%;
        display: flex;
        .left-img {
          width: 30%;
          img {
            border-radius: 50%;
          }
        }
        .right-content {
          width: 70%;
          span {
            padding: 10px;
            background-color: $bg-light-blue;
            border-radius: 10px;
            color: $white;
            font-family: nexa-light;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .faq {
    padding: 5%;
    header {
      text-align: center;
    }
    .questions {
      padding: 5%;
      summary {
        color: $button-blue;
        font-family: nexa-light;
        font-size: 1.2rem;
        line-height: 1.3;
        padding: 5px;
      }
      p {
        background-color: #e0f1f3;
        padding: 10px;
        margin: 5px;
      }
    }
  }
}
.hospitals_onboard {
  table {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    td {
      border: 1px solid skyblue;
    }
  }
  header {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  #img1 {
    border-top: none;
    border-left: none;
  }
  #img2 {
    border-top: none;
    border-right: none;
  }
  #img3 {
    border-left: none;
  }
  #img4 {
    border-right: none;
  }
  #img5 {
    border-left: none;
    border-bottom: none;
  }
  #img6 {
    border-right: none;
    border-bottom: none;
  }
}
@media (min-width: 600px) {
  .faq {
    padding: 3%;
    header {
      text-align: left;
    }
    .questions {
      padding: 2%;
      summary {
        color: $button-blue;
        font-family: nexa-light;
        font-size: 1.2rem;
        line-height: 1.3;
        padding: 5px;
      }
      p {
        background-color: #e0f1f3;
        padding: 10px;
        margin: 5px;
      }
    }
  }
  .feedback {
    padding: 5%;
    header {
      text-align: left;
      margin-bottom: 10px;
      span {
        padding: 5px;
        background-color: $bg-light-blue;
        border-radius: 10px;
      }
    }
    .feedback-parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    .parent {
      margin: 5% auto;
      width: 100%;
      padding: 7% 5%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .bottom-content {
        padding-top: 10px;
        width: 100%;
        display: flex;

        .left-img {
          width: 30%;
          img {
            border-radius: 50%;
          }
        }
        .right-content {
          width: 70%;
          span {
            padding: 10px;
            background-color: $bg-light-blue;
            border-radius: 10px;
            color: $white;
            font-family: nexa-light;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .plan-wrapper {
    padding: 2%;
  }
  p {
    padding-top: 10px;
    font-family: nexa-light;
    font-size: 1rem;
    line-height: 1.5;
  }
  .plan {
    height: 30rem;
  }
  .top-header-image {
    padding: 5%;
    .plustext {
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      background-color: #0a04b7;
      width: 12%;
      margin: 0 auto;
      color: white;
      float: left;
    }
    header {
      padding-top: 30px;
      font-family: nexa-bold;
      font-size: 1.8rem;
      margin-top: 10px;
    }
  }
  .plan-description {
    padding-right: 5px;
    display: flex;
    width: 100%;
    .basic,
    .advance,
    .comprehensive {
      width: 33%;
    }
  }
  .plan-content {
    header {
      font-weight: bold;
      font-size: 1.5rem;
      padding: 5px;
    }
  }
  .advance {
    padding-top: 15px;
    background: linear-gradient(to bottom, skyblue, white);
    .populartext {
      padding: 3px;
      background-color: green;
      width: 10%;
      border-radius: 10px;
      color: white;
      margin: 0 auto;
      position: absolute;
      left: 44%;
      top: 17%;
    }
  }
  .basic {
    .bottom-plus {
      padding-top: 55%;
    }
  }
  #cost {
    font-weight: bold;
    padding: 5px;
  }

  .top-rating-part {
    display: flex;
    width: 100%;
  }
  .rating-section {
    width: 30%;
    padding-left: 10%;
  }
  .barchart {
    width: 70%;
  }
  .rating-chart {
    color: #304f86;
    padding-top: 10px;
  }
  .user-info {
    display: flex;
    text-align: center;
    padding: 10px;
    padding-left: 7%;

    .a,
    .b,
    .c,
    .d {
      padding-top: 5px;
    }
    b {
      font-size: 1.5rem;
    }
    p {
      padding: 10px;
    }
  }
  .rating {
    text-align: center;
    padding: 10px;
    header {
      font-family: nexa-bold;
      font-size: 2rem;
    }
    p {
      font-family: nexa-light;
    }
  }
  .plus-benefits {
    display: flex;
  }
  .benefit_plus_title {
    text-align: center;
    font-family: nexa-bold;
    font-size: 1rem;
    hr {
      border: 2px solid skyblue;
      width: 40%;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .benefit-desc {
    header {
      font-family: nexa-bold;
      font-size: 1.5rem;
    }
    i {
      border: 1px;
      padding: 5px;
      border-radius: 50%;
      background: skyblue;
      color: white;
    }
  }
  .plus-benefits {
    padding: 5%;

    span {
      text-align: left;
    }
    i {
      text-align: left;
    }
  }
  .more-info {
    div {
      padding: 10px;
    }
    i {
      border: 1px;
      padding: 5px;
      border-radius: 50%;
      background: skyblue;
      color: white;
    }
    padding: 15px;
    .secondFlex {
      display: flex;
      flex-direction: row-reverse;
    }
    .thirdFlex {
      display: flex;
    }
    .fourthflex {
      display: flex;
      flex-direction: row-reverse;
    }
    header {
      font-family: nexa-bold;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .test-included {
    padding: 10%;
    p {
      padding: 10px;
    }
    .test-wrapper {
      text-align: center;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      div {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10%;
      }
      img {
        width: 50px;
      }
    }
  }
}

@media (min-width: 900px) {
  .benefit_plus_title {
    padding: 3%;
    font-family: nexa-light;
    font-size: 1.2rem;
  }
  .rating {
    padding-top: 5%;
  }
  .top-header-image {
    padding-top: 8%;
  }
  .plan-wrapper {
    padding: 5%;
    position: absolute;
    top: 60%;
  }
  .basic {
    .bottom-plus {
      padding-top: 10%;
      line-height: 1.5;
    }
  }
  .plan-description {
    header {
      padding-top: 20px;
    }
    p {
      font-family: nexa-light;
      font-size: 1rem;
      line-height: 1.5;
      padding: 5px;
    }
    .populartext {
      top: 26.5%;
    }
  }
  .user-info {
    padding-top: 5%;
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .plus-benefits {
    margin: 0 auto;
    width: 100%;
    padding: 0 10%;
    .benefit-desc {
      padding-right: 10%;
      p {
        padding: 10px;
      }
    }
  }
  .more-info {
    h3 {
      font-family: nexa-bold;
      font-size: 1.5rem;
      padding: 10px;
    }
    p {
      padding: 10px;
    }

    .secondFlex {
      width: 95%;
      margin: 0 auto;
      .secondleft {
        width: 30%;
      }
      .secondright {
        width: 70%;
      }
    }
    .thirdFlex {
      width: 95%;
      margin: 0 auto;
    }
    .fourthflex {
      width: 95%;
      margin: 0 auto;
    }
    i {
      border: 1px;
      padding: 5px;
      border-radius: 50%;
      background: skyblue;
      color: white;
    }
  }
}

@media (min-width: 1200px) {
  .faq {
    header {
      padding-left: 20px;
    }
  }
  .feedback {
    .feedback-parent {
      display: flex;

      .parent {
        margin: 5px;
        padding: 3%;
      }
    }
  }
  .test-included {
    #title-60-tests {
      padding-left: 6%;
    }
    padding: 1% 0% !important;
    .test-wrapper {
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding-left: 5%;
      div {
        margin: 10px;
        padding: 3% 5% !important;
        text-align: left;
      }
    }
  }
  .user-info {
    text-align: center;
  }
}
