@import "../theme/config";
@import "../font";

.left-panel {
  position: relative;
  .create-btn {
    position: absolute;
    left: 30%;
    bottom: 10%;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    border: none;

    &:hover {
      background-color: $bg-light-blue;
      border: none;
      outline: none;
    }
  }
}

.form-wrapper {
  background-color: $bg-light-blue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inner-wrapper {
  background-color: $white;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.time-wrapper {
  display: flex;
  width: 100%;
  .form-group {
    width: 50%;
    #time {
      width: 95%;
    }
    #endtime {
      width: 95%;
    }
  }
}

#interval,
#addSchedule,
#viewSchedule,
#date {
  width: 100%;
}
@media (max-width: 599px) {
  h3 {
    font-size: 1rem !important;
  }
  .time-wrapper {
    display: flex;
    flex-direction: column;
    .form-group {
      width: 100%;
    }
  }
}
@media (min-width: 600px) {
  h3 {
    font-size: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .form-wrapper {
    height: 97vh !important;
    overflow: hidden;
  }
  .inner-wrapper {
    width: 60%;
  }
}

.new-form {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 30%;
  background-color: $bg-light-blue;
}
