@import "../theme/config";

.btn {
  font-family: nexa-light;
}
@media (max-width: 599px) {
  .bottom {
    background-color: $bg-light-blue;
    text-align: center;
  }
  .footer-section {
    background-color: $bg-dark-blue;

    text-align: center;
    .links a {
      display: block;
      padding: 10px;
      color: $white;
    }
    p {
      color: $white;
    }
    i {
      padding-right: 10px;
      color: white;
    }
  }
  .social-icon-items {
    padding: 5%;
  }
}
@media (min-width: 600px) {
  .bottom {
    padding-top: 20px;
    background-color: $bg-light-blue;
    text-align: center;
    .help {
      padding: 5px;
      header,
      p,
      button {
        padding: 5px;
      }
    }
    .btn {
      text-align: center;
    }
  }
  .footer-menu {
    img {
      float: right;
    }
    .links a {
      color: black;
      padding-right: 10px;
      font-family: nexa-light;
    }
    p {
      color: black;
    }
  }
  .social-icons {
    padding-top: 3%;
  }

  .social-icon-items {
    text-align: right;
    i {
      padding-right: 10px;
      color: black;
    }
    p {
      float: left;
    }
  }
  .links {
    padding-top: 5%;
  }
}
@media (min-width: 1200px) {
  .bottom {
    padding-top: 20px;
    background-color: $bg-light-blue;
    display: flex;
    padding: 2% 5%;

    .help {
      padding: 3% 0;
      padding-left: 4%;
      header,
      p {
        text-align: left;
        padding: 5px;
      }
    }
    .btn {
      position: absolute;
      right: 3%;
      width: 40%;
      padding: 15px;
    }
    #button {
      margin-top: 2%;
    }
  }
  .footer-menu {
    img {
      float: right;
    }
  }
  // .social-icons {
  //   padding: 3%;
  // }

  .social-icon-items {
    text-align: right;
    p {
      float: left;
    }
  }
  .links {
    padding-top: 2%;
  }
  .footer-section {
    margin: 2% 4%;
  }
}
