@import "../main/breakpoint";
@font-face {
  font-family: nexa-bold;
  src: url(/Nexa-Bold.otf);
}
@font-face {
  font-family: nexa-light;
  src: url(/Nexa-light.otf);
}

body {
  background-color: skyblue;
}
.wrapper {
  overflow: hidden;
  width: 80%;
  display: flex;
  background-color: white;
  padding: 5%;
  margin: 0 auto;
  input {
    width: 90%;
    padding: 10px;
    margin: 5px 0px;
  }
  textarea {
    padding: 10px;
    width: 90%;
  }
  form {
    text-align: center;
  }
  .btn-primary {
    width: 90%;
  }
  header {
    font-family: nexa-bold;
    font-size: 2rem;
    font-weight: bold;
    color: skyblue;
    padding: 3%;
    text-align: center;
  }
}
footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.wrapper {
  margin: 10%;
  overflow: hidden;
}

.nav-parent {
  text-align: center;
}

@include md {
  .wrapper {
    width: 60%;
    text-align: center;
    margin-left: 20%;
  }
}
