@import "../main/breakpoint";
@import "../font";
@import "../theme/config";

html {
  background-color: $bg-light-blue;
}
.form-wrapper {
  padding: 5%;
}
.signin {
  background-color: $bg-light-blue;
  width: 100%;
  height: 100vh;
  position: relative;
  .form-group {
    background-color: $white;
    padding: 15px;
    text-align: center;
    margin: 5%;
    @media (max-width: 599px) {
      input {
        padding: 10%;
        border-radius: 0%;
      }
      width: 90%;
      position: absolute;
      top: 22%;
      left: 0%;
      #btn {
        font-size: 1.5rem;
        padding: 3%;
        width: 100%;
        background-color: $bg-dark-blue;
        border: none;
        border-radius: 0%;
        font-family: nexa-light;
        i {
          float: right;
        }
      }
    }
    @include sm {
      padding-bottom: 10px;
      width: 70%;
      margin: 0 auto;
      input {
        padding: 6%;
        border-radius: 0%;
      }
      #btn {
        font-size: 1.5rem;
        width: 100%;
        background-color: $bg-dark-blue;
        border: none;
        border-radius: 0%;
        font-family: nexa-light;
        i {
          float: right;
        }
      }
    }
    @include md {
      width: 40%;
      position: absolute;
      top: 26%;
      left: 30%;

      input {
        padding: 4%;
        border-radius: 0%;
      }
    }
  }
}
footer {
  text-align: center;
  background-color: $bg-light-blue;
  font-family: nexa-light;
  font-size: 1rem;
  @include xs {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  @include md {
    padding: 2% !important;
  }
}

#mobile {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px dashed;
}
