@import "../main/breakpoint";
@import "../font";
body {
  background-color: skyblue;
}

.nav-parent {
  text-align: center;
}
.signup {
  @include xs {
    width: 100vh;
    width: 100%;
    padding: 10px;
    .form-group {
      width: 90%;
      padding: 10px;
      margin: 0 auto;
      background-color: white;
      .form-control {
        margin-top: 10px;
      }
      header {
        text-align: center;
        font-family: nexa-bold;
        font-size: 1.5rem;
      }
      #btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  @include sm {
    .form-group {
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  @include md {
    .form-group {
      width: 50%;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}

footer {
  text-align: center;
  padding: 20px;
}
