@import "../main/breakpoint";
@import "../font";
@import "../theme/config";

html {
  background-color: $bg-light-blue;
}
.form-wrapper {
  padding: 5%;
}
.signin {
  header {
    padding: 5px !important;
  }
  background-color: $bg-light-blue;
  width: 100%;
  position: relative;
  @include xs {
    height: 80vh !important;
  }
  @include sm {
    height: 100vh !important;
  }
  @media (min-width: 1200px) {
    height: 70vh !important;
  }
  .form-group {
    background-color: $white;
    padding: 5px;
    text-align: center;
    margin: 5%;
    @media (max-width: 599px) {
      input {
        padding: 10%;
        border-radius: 0%;
      }
      width: 90%;
      position: absolute;
      top: 10%;
      left: 0%;
      #btn {
        font-size: 1.5rem;
        padding: 3%;
        width: 100%;
        background-color: $bg-dark-blue;
        border: none;
        border-radius: 0%;
        font-family: nexa-light;
        i {
          float: right;
        }
      }
    }
    @include sm {
      width: 50%;
      margin: 0 auto;

      input {
        padding: 6%;
        border-radius: 0%;
        width: 90%;
        margin: 0 auto;
      }
      #btn {
        font-size: 1.5rem;
        width: 100%;
        background-color: $bg-dark-blue;
        border: none;
        border-radius: 0%;
        font-family: nexa-light;
        i {
          float: right;
        }
      }
    }
    @include md {
      width: 40%;
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 10px;
      input {
        padding: 4%;
        border-radius: 0%;
      }
    }
  }
}
footer {
  text-align: center;
  font-family: nexa-light;
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include md {
    bottom: 2%;
  }
  @include xs {
    position: fixed !important;
  }
}

#mobile {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px dashed;
}

#password_toggle {
  position: absolute;
  @include xs {
    left: 90%;
    top: 48%;
  }
  @media (min-width: 600px) {
    left: 65%;
    top: 45%;
  }
  @media (min-width: 1200px) {
    left: 86%;
    top: 43%;
  }
}

.form-group {
  header {
    color: #007bff;
  }
}

.signin {
  position: relative;
  overflow-y: hidden;
  .alert-success {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .form-group {
    #btn {
      width: 90% !important;
      margin-bottom: 3%;
    }

    #otp {
      padding-left: 5%;
    }
    #fpass {
      padding-right: 5%;
    }
  }
  .mobile-signin {
    .form-group {
      form {
        padding-top: 20px;
        #btn {
          margin: 10px 0px;
        }
      }
    }
  }
}
.form-group {
  #btn {
    i {
      padding-top: 5px;
    }
  }
}
